{% if currentUser %}
  {% redirect 'commerce/checkout/addresses' %}
{% endif %}

{% extends "_layouts/_checkout" %}

{% block content %}

{% include "commerce/_includes/login" with {'redirect': true} %}

<div class="row">

  <div class="six columns">

    <h3>Guest Checkout</h3>

    {#
    Setting the guest email address on the guest customer and order.
    This will have no affect if the user is currently logged in as the cart uses the currentUsers email address.
    #}

    <form method="POST">
      <input type="hidden" name="action" value="commerce/cart/updateCart">
      <input type="hidden" name="redirect" value="commerce/checkout/addresses">
      {{ getCsrfInput() }}
      <label for="">Email</label>
      <input class="u-full-width" type="text" value="{{ cart.email }}" name="email"
      placeholder="email@site.com"/>

      <span class="flash">{{ cart.getErrors('email')|join }}</span><br>

      <input type="submit" value="Continue as Guest" class="button button-primary"/>

    </form>
  </div>
</div>
{% endblock %}
