{% extends "_layouts/_checkout" %}

{% block content %}
  <h3>{{ "Shipping Method" | t }}</h3>
  <div class="row">


    {% if not craft.commerce.availableShippingMethods|length %}
    <div class="two-thirds column">
      <div class="address-card address-reminder">
        <p>{{ "Shipping Reminder" | t }}</p>
        <p>{{ "Shipping Reminder 2" | t }}</p>
        {% include 'partials/shipping_locations' %}
      </div>
    </div>
    {% endif %}

    {% if craft.commerce.availableShippingMethods|length %}
    <div class="two-thirds column">
      {% if craft.commerce.availableShippingMethods|length %}
      <form method="POST">
        <input type="hidden" name="action" value="commerce/cart/updateCart">
        <input type="hidden" name="redirect" value="commerce/checkout/payment">
        {{ getCsrfInput() }}

        {% for handle, method in craft.commerce.availableShippingMethods %}
        <div class="shipping-select">
          <label>

            <input type="radio" name="shippingMethod" value="{{ handle }}"
            {% if handle == cart.shippingMethodHandle %}checked{% endif %} />
            <strong>{{ method.name }}</strong>

            <span class="price">
              {{ method.amount|currency(currencyCode) }}
            </span>
          </label>
        </div>
        {% endfor %}
        <span class="flash">{{ cart.getErrors('shippingMethod')|join }}</span>

        <p><input type="submit" class="button button-primary" value="{{ "Confirm Shipping Method" | t }}"/></p>

      </form>
      {% endif %}

    </div>
    {% endif %}

    <div class="one-third column">
      <div class="address-card">
        <h5 class="label">{{ "Shipping Address" | t }}</h5>
        {% if cart.shippingAddress %}
        {% include 'commerce/_includes/addresses/address' with {'address': cart.shippingAddress} %}
        {% else %}
        <p>{{ "No shipping address selected." | t }}</p>
        {% endif %}
        {% if currentUser %}<a class="edit" href="{{ url('commerce/customer/addresses/edit?addressId={ cart.shippingAddressId }&redirect={ craft.request.path }') }}">{{ "Edit" | t }}</a>{% endif %}
      </div>
      <div class="address-card">
        <h5 class="label">{{ "Billing Address" | t }}</h5>
        {% if cart.billingAddress %}
        {% include 'commerce/_includes/addresses/address' with {'address': cart.billingAddress} %}
        {% if currentUser %}<a class="edit" href="{{ url('commerce/customer/addresses/edit?addressId={ cart.billingAddressId }&redirect={ craft.request.path }') }}">{{ "Edit" | t }}</a>{% endif %}
        {% else %}
        <p>{{ "No billing address selected." | t }}</p>
        {% endif %}
      </div>
    </div>

  </div>
{% endblock %}
