@import url("//hello.myfonts.net/count/2d09fb");
@import url("//hello.myfonts.net/count/2d0c65");
@font-face {
  font-family: "P22MackinacMedium";
  src: url("../fonts/2D09FB_0_0.eot");
  src: url("../fonts/2D09FB_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D09FB_0_0.woff2") format("woff2"), url("../fonts/2D09FB_0_0.woff") format("woff"), url("../fonts/2D09FB_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Nickyshand";
  src: url("../fonts/nickyshand_regular-webfont.eot");
  src: url("../fonts/nickyshand_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nickyshand_regular-webfont.woff2") format("woff2"), url("../fonts/nickyshand_regular-webfont.woff") format("woff"), url("../fonts/nickyshand_regular-webfont.ttf") format("truetype"), url("../fonts/nickyshand_regular-webfont.svg#nickyshandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlternateGothicCom-No2";
  src: url("../fonts/2D0C65_0_0.eot");
  src: url("../fonts/2D0C65_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D0C65_0_0.woff2") format("woff2"), url("../fonts/2D0C65_0_0.woff") format("woff"), url("../fonts/2D0C65_0_0.ttf") format("truetype");
}
