@import url("//hello.myfonts.net/count/2d09fb");
@import url("//hello.myfonts.net/count/2d0c65");
/* line 17, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "P22MackinacMedium";
  src: url("../fonts/2D09FB_0_0.eot");
  src: url("../fonts/2D09FB_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D09FB_0_0.woff2") format("woff2"), url("../fonts/2D09FB_0_0.woff") format("woff"), url("../fonts/2D09FB_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "Nickyshand";
  src: url("../fonts/nickyshand_regular-webfont.eot");
  src: url("../fonts/nickyshand_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nickyshand_regular-webfont.woff2") format("woff2"), url("../fonts/nickyshand_regular-webfont.woff") format("woff"), url("../fonts/nickyshand_regular-webfont.ttf") format("truetype"), url("../fonts/nickyshand_regular-webfont.svg#nickyshandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlternateGothicCom-No2";
  src: url("../fonts/2D0C65_0_0.eot");
  src: url("../fonts/2D0C65_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D0C65_0_0.woff2") format("woff2"), url("../fonts/2D0C65_0_0.woff") format("woff"), url("../fonts/2D0C65_0_0.ttf") format("truetype");
}

/* line 28, sass/main.sass */
body {
  background-color: white;
  color: #333333;
  font-family: "P22MackinacMedium", Georgia, serif;
}

/* line 35, sass/main.sass */
header {
  border-bottom: 30px solid #b24629;
  height: 482px;
  display: block;
}
/* line 36, sass/main.sass */
#home header {
  height: 770px;
}
/* line 41, sass/main.sass */
header .header-container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
/* line 45, sass/main.sass */
header nav {
  background-color: rgba(0, 0, 0, 0.35);
  height: 115px;
  margin-bottom: -115px;
  z-index: 1;
  position: relative;
}
/* line 51, sass/main.sass */
header .logo {
  width: 300px;
  height: 92px;
  background: url('/images/site/logo.png?1421081585') no-repeat 0 0;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -150px;
}
/* line 52, sass/main.sass */
header .logo h1, header .logo h3 {
  text-indent: -10000px;
}
/* line 54, sass/main.sass */
header .logo a {
  width: 300px;
  height: 92px;
  display: block;
}
/* line 65, sass/main.sass */
header .navigation {
  padding-top: 51px;
  display: inline-block;
  text-align: center;
}
/* line 69, sass/main.sass */
header .navigation li {
  display: inline-block;
  text-transform: uppercase;
}
@media screen and (min-width: 1450px) {
  /* line 65, sass/main.sass */
  header .navigation {
    float: right;
  }
  /* line 74, sass/main.sass */
  header .navigation:first-of-type {
    float: left;
  }
  /* line 76, sass/main.sass */
  header .navigation:first-of-type li {
    margin-left: 68px;
    margin-right: 0;
  }
  /* line 79, sass/main.sass */
  header .navigation li {
    margin-right: 45px;
  }
}
/* line 81, sass/main.sass */
header .navigation a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}
/* line 86, sass/main.sass */
header .navigation a.active {
  border-bottom: 5px solid white;
}
/* line 88, sass/main.sass */
header .localization {
  position: absolute;
  top: 0;
  right: 45px;
}
/* line 92, sass/main.sass */
header .localization li {
  padding: 7px 14px;
  background: white;
  color: #999999;
  float: left;
  display: block;
}
/* line 98, sass/main.sass */
header .localization li.active {
  background: #b24629;
}
/* line 100, sass/main.sass */
header .localization li.active a {
  color: white;
}
/* line 102, sass/main.sass */
header .localization li a {
  text-decoration: none;
  color: #999999;
}

/* line 105, sass/main.sass */
footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 50px;
  font-size: 14px;
}
/* line 111, sass/main.sass */
footer ul {
  margin-bottom: 10px;
}
/* line 113, sass/main.sass */
footer ul li {
  display: inline-block;
  padding: 0 25px;
  border-right: 1px solid #333333;
}
/* line 117, sass/main.sass */
footer ul li:last-child {
  border-right: none;
}

/* line 120, sass/main.sass */
.banners {
  height: 100%;
  position: relative;
  z-index: 0;
}
/* line 124, sass/main.sass */
.banners .banner-arrows {
  position: absolute;
  z-index: 10;
  top: 52%;
  margin-top: -30px;
  width: 100%;
}
/* line 130, sass/main.sass */
.banners .banner-arrows li {
  width: 32px;
  height: 60px;
  display: block;
  position: absolute;
  background-image: url("../images/site/arrows.png");
  background-size: auto 60px;
  background-repeat: no-repeat;
  text-indent: -10000px;
  cursor: pointer;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 130, sass/main.sass */
  .banners .banner-arrows li {
    background-image: url("../images/site/arrows@2x.png");
    background-size: 64px 60px;
  }
}
/* line 142, sass/main.sass */
.banners .banner-arrows li:hover {
  opacity: 0.6;
}
/* line 144, sass/main.sass */
.banners .banner-arrows li.previous {
  background-position: top left;
  left: 20px;
}
/* line 147, sass/main.sass */
.banners .banner-arrows li.next {
  background-position: top right;
  right: 20px;
}
/* line 151, sass/main.sass */
.banners .banner-dots {
  position: absolute;
  z-index: 10;
  top: 657px;
  left: 50%;
}
/* line 156, sass/main.sass */
.banners .banner-dots li {
  width: 22px;
  height: 22px;
  display: block;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}
/* line 165, sass/main.sass */
.banners .banner-dots li:last-child {
  margin-right: 0;
}
/* line 167, sass/main.sass */
.banners .banner-dots li.active {
  border: 3px solid white;
  width: 16px;
  height: 16px;
  background-color: transparent;
}
/* line 173, sass/main.sass */
.banners.banner_slideshow .banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
/* line 180, sass/main.sass */
.banners.banner_slideshow .banner.active {
  opacity: 1;
  z-index: 5;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 185, sass/main.sass */
.banners.banner_slideshow .banner.previously_active {
  opacity: 1;
}
/* line 187, sass/main.sass */
.banners .banner {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding-top: 115px;
  height: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  font-size: 46px;
}
/* line 197, sass/main.sass */
.banners .banner .banner-headline-container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  display: table;
  height: 93%;
}
/* line 203, sass/main.sass */
.banners .banner .banner-headline {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  font-size: 46px;
  line-height: 58px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 210, sass/main.sass */
.banners #wine-page-banner {
  background-image: url('/images/banners/wine-banner.jpg?1421107543');
}

/* line 215, sass/main.sass */
.container {
  width: 1005px;
  margin: 0 auto;
  position: relative;
}
/* line 219, sass/main.sass */
#home main#content .container {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 222, sass/main.sass */
main#content .container {
  margin-top: 80px;
  margin-bottom: 40px;
}
/* line 225, sass/main.sass */
.container h1 {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  font-size: 94px;
}

/* line 230, sass/main.sass */
.page-content:after {
  content: "";
  clear: both;
  width: 100%;
  height: 1px;
  display: block;
}
/* line 236, sass/main.sass */
.page-content .page-image {
  float: right;
  padding-left: 75px;
  width: 334px;
}
/* line 240, sass/main.sass */
.page-content .page-image img {
  width: 334px;
}
/* line 242, sass/main.sass */
.page-content .page-text {
  float: left;
  width: 596px;
}
/* line 245, sass/main.sass */
.page-content .page-text h1 {
  margin-bottom: 45px;
}
/* line 247, sass/main.sass */
.page-content .page-text h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #b24629;
  border-bottom: 1px solid #b24629;
  margin-bottom: -1px;
  height: 68px;
  position: relative;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  color: #b24629;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 68px;
}
/* line 259, sass/main.sass */
.page-content .page-text h2:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  right: 18px;
  top: 25px;
  display: block;
  background-image: url("../images/site/accordion.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  /* line 259, sass/main.sass */
  .page-content .page-text h2:after {
    background-image: url("../images/site/accordion@2x.png");
    background-size: 25px 98px;
  }
}
/* line 271, sass/main.sass */
.page-content .page-text h2.active:after {
  top: 20px;
  background-position: 0 bottom;
}
/* line 274, sass/main.sass */
.page-content .page-text .page-text-block {
  display: none;
  margin: 35px 0;
}
/* line 277, sass/main.sass */
.page-content .page-text .page-text-block.active {
  display: block;
}

/* line 280, sass/main.sass */
.wine-page-content {
  display: none;
}
/* line 282, sass/main.sass */
.wine-page-content.active {
  display: block;
}
/* line 285, sass/main.sass */
.wine-page-content .wine-page-image {
  position: relative;
}
/* line 287, sass/main.sass */
.wine-page-content .wine-page-image:before {
  content: "";
  display: block;
  width: 458px;
  height: 454px;
  background-image: url('/images/site/wine-splat.png?1421103814');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 458px 454px;
  position: absolute;
  right: -90px;
  top: 110px;
  z-index: 0;
}
/* line 300, sass/main.sass */
.wine-page-content .wine-page-image img {
  float: right;
  margin-right: 5px;
  width: 195px;
  position: relative;
  z-index: 1;
}

/* line 307, sass/main.sass */
.wine-browser {
  width: 1000px;
  margin: 0 auto;
  text-align: justify;
  padding-top: 55px;
}
/* line 313, sass/main.sass */
.wine-browser li {
  display: inline-block;
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
  padding-bottom: 15px;
  vertical-align: top;
}
/* line 324, sass/main.sass */
.wine-browser li:hover:after {
  content: "";
  width: 66px;
  height: 7px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -33px;
}
/* line 334, sass/main.sass */
.wine-browser li img {
  width: 140px;
  padding: 10px;
}
/* line 337, sass/main.sass */
.wine-browser li:last-child {
  margin-right: 0;
}
/* line 339, sass/main.sass */
.wine-browser li.active img {
  padding: 0;
  border: 10px solid #ed8f17;
}
@media screen and (min-width: 1180px) {
  /* line 307, sass/main.sass */
  .wine-browser {
    width: 1180px;
    padding-top: 20px;
  }
  /* line 345, sass/main.sass */
  .wine-browser li {
    width: 190px;
    margin-right: 57px;
  }
  /* line 348, sass/main.sass */
  .wine-browser li img {
    width: 170px;
  }
}
