/* line 17, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, sass/main.sass */
body {
  background-color: white;
  color: #333333;
}

/* line 29, sass/main.sass */
header {
  border-bottom: 30px solid #b24629;
  height: 482px;
  width: 100%;
  display: block;
}
/* line 30, sass/main.sass */
#home header {
  height: 770px;
}
/* line 36, sass/main.sass */
header .header-container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
/* line 40, sass/main.sass */
header nav {
  background-color: rgba(0, 0, 0, 0.35);
  height: 115px;
}
/* line 43, sass/main.sass */
header .logo {
  width: 300px;
  height: 92px;
  background: url('/images/site/logo.png?1421081585') no-repeat 0 0;
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -150px;
}
/* line 44, sass/main.sass */
header .logo h1, header .logo h3 {
  text-indent: -10000px;
}
/* line 53, sass/main.sass */
header .navigation {
  padding-top: 50px;
}
/* line 55, sass/main.sass */
header .navigation li {
  display: inline-block;
  text-transform: uppercase;
}
/* line 58, sass/main.sass */
header .navigation li:nth-child(-n+4) {
  float: left;
  margin-left: 45px;
}
/* line 61, sass/main.sass */
header .navigation li:nth-child(n+5) {
  float: right;
  margin-right: 45px;
}
/* line 64, sass/main.sass */
header .navigation a {
  color: white;
  text-decoration: none;
}
/* line 67, sass/main.sass */
header .navigation a.active {
  border-bottom: 3px solid white;
}
/* line 69, sass/main.sass */
header .localization {
  position: absolute;
  top: 0;
  right: 45px;
}
/* line 73, sass/main.sass */
header .localization li {
  padding: 7px 14px;
  background: white;
  color: #999999;
  float: left;
  display: block;
}
/* line 79, sass/main.sass */
header .localization li.active {
  background: #b24629;
}
/* line 81, sass/main.sass */
header .localization li.active a {
  color: white;
}
/* line 83, sass/main.sass */
header .localization li a {
  text-decoration: none;
  color: #999999;
}

/* line 86, sass/main.sass */
footer {
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 50px;
}
/* line 91, sass/main.sass */
footer ul {
  margin-bottom: 6px;
}
/* line 93, sass/main.sass */
footer ul li {
  display: inline-block;
  padding: 0 25px;
  border-right: 1px solid #333333;
}
/* line 97, sass/main.sass */
footer ul li:last-child {
  border-right: none;
}

/* line 102, sass/main.sass */
.container {
  width: 1005px;
  margin: 0 auto;
  position: relative;
}
/* line 106, sass/main.sass */
main#content .container {
  margin-top: 80px;
  margin-bottom: 40px;
}
