@charset "UTF-8";
@media all {
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent;
  }
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .featherlight .featherlight-content {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 85%;
    max-width: 85%;
    background: #fff;
    cursor: auto;
    white-space: normal;
  }
  .featherlight .featherlight-inner {
    display: block;
  }
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 50px;
    right: 50px;
    line-height: 22px;
    width: 22px;
    cursor: pointer;
    text-align: center;
    text-indent: -10000px;
    background: image-url("site/close.svg") no-repeat 0 0;
  }
  .featherlight .featherlight-image {
    width: 100%;
  }
  .featherlight iframe {
    border: none;
  }

  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
  }
}
.shipping-confirmation .shipping-confirmation-confirm, .page-content .add-to-cart form input[type=submit], #products .product-overview ul li .buy-reveal .buy {
  box-sizing: border-box;
  cursor: pointer;
  height: 48px;
  border: 0;
  border-radius: 4px;
  background-color: #ED8F17;
  font-weight: normal;
  padding: 0 25px;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  font-size: 28px;
  color: #fff;
  letter-spacing: 0.05em;
}
.shipping-confirmation [disabled='disabled'].shipping-confirmation-confirm, .page-content .add-to-cart form input[disabled='disabled'][type=submit], #products .product-overview ul li .buy-reveal [disabled='disabled'].buy {
  background-color: rgba(51, 51, 51, 0.4);
  cursor: not-allowed;
}

.banners {
  height: 100%;
  position: relative;
  z-index: 0;
}
#home .banners .banner .banner-cta {
  bottom: 165px;
}
#commerce .banners {
  display: none;
}
.banners.banner_slideshow .banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.banners.banner_slideshow .banner.active {
  opacity: 1;
  z-index: 5;
  transition-property: opacity;
  transition-duration: 1s;
}
.banners.banner_slideshow .banner.previously_active {
  opacity: 1;
}
.banners .banner {
  box-sizing: border-box;
  display: block;
  padding-top: 115px;
  height: 100%;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
}
.banners .banner .banner-headline-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: table;
  height: 93%;
}
.banners .banner .banner-headline {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  font-size: 30px;
  line-height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  .banners .banner .banner-headline {
    padding: 0 100px;
    font-size: 36px;
    line-height: 58px;
  }
}
@media only screen and (min-width: 1010px) {
  .banners .banner .banner-headline {
    font-size: 42px;
    line-height: 58px;
  }
}
.banners #products-page-banner {
  background-image: url("/images/banners/wine-banner.jpg");
}
.banners #products-page-banner.oils-banner {
  background-image: url("/images/banners/olive-oil-banner.jpg");
}
.banners #products-page-banner .banner-headline {
  text-transform: capitalize;
}
.banners #awards-page-banner {
  background-image: url("/images/banners/news-banner.jpg");
}
.banners #news-page-banner {
  background-image: url("/images/banners/news-banner-alt.jpg");
}
.banners #gallery-page-banner {
  background-image: url("/images/banners/contact_banner_photo_blur.png");
}
.banners #products-page-banner .banner-headline, .banners #awards-page-banner .banner-headline, .banners #news-page-banner .banner-headline, .banners #gallery-page-banner .banner-headline {
  font-size: 48px;
}
@media only screen and (min-width: 768px) {
  .banners #products-page-banner .banner-headline, .banners #awards-page-banner .banner-headline, .banners #news-page-banner .banner-headline, .banners #gallery-page-banner .banner-headline {
    font-size: 62px;
  }
}
@media only screen and (min-width: 1010px) {
  .banners #products-page-banner .banner-headline, .banners #awards-page-banner .banner-headline, .banners #news-page-banner .banner-headline, .banners #gallery-page-banner .banner-headline {
    font-size: 72px;
  }
}

.page-galleries {
  margin-top: 25px;
}
.page-galleries [data-gallery] {
  cursor: pointer;
}
.page-galleries [data-gallery] .gallery-description {
  display: inline-block;
  vertical-align: middle;
}
.page-galleries [data-gallery] .gallery-description h4 {
  font-size: 28px;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
}
.page-galleries [data-gallery] .gallery-description p {
  font-size: 14px;
  margin-bottom: 0;
}
.page-galleries [data-gallery] img {
  display: inline-block;
  vertical-align: middle;
  vertical-align: middle;
  display: inline-block;
  width: 100px;
  margin-right: 15px;
}

#gallery h2 {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 40px;
  border-top: 1px solid #B24629;
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  #gallery h2 {
    font-size: 62px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1010px) {
  #gallery h2 {
    font-size: 72px;
    padding-top: 50px;
  }
}
#gallery .page-galleries {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 50px);
  margin-left: -25px;
  justify-content: center;
  overflow: hidden;
}
#gallery .page-galleries [data-gallery] {
  width: 300px;
  margin: 0 25px 40px 25px;
}
#gallery .page-galleries img {
  width: 100%;
  height: 300px;
  display: block;
  margin-right: 0;
  margin-bottom: 15px;
}
#gallery .page-galleries h4 {
  margin-bottom: 5px;
}
#gallery .page-galleries p {
  line-height: 22px;
}
#gallery .page-galleries.video-galleries img {
  height: 169px;
}

.gallery {
  width: 100%;
}
.gallery img {
  max-width: 100%;
  display: none;
}
.gallery img.active {
  display: block;
}

.dots {
  position: absolute;
  z-index: 10;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .dots {
    top: 657px;
  }
}
.dots li {
  display: block;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
  width: 11px;
  height: 11px;
}
.dots li:last-child {
  margin-right: 0;
}
.dots li.active {
  border: 3px solid #fff;
  background-color: transparent;
  width: 5px;
  height: 5px;
}
@media only screen and (min-width: 768px) {
  .dots li {
    width: 22px;
    height: 22px;
  }
  .dots li.active {
    width: 16px;
    height: 16px;
  }
}

.arrows {
  position: absolute;
  z-index: 10;
  top: 52%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.arrows li {
  width: 16px;
  height: 30px;
  background-size: auto 30px;
  display: block;
  position: absolute;
  background-image: url("../images/site/arrows.png");
  background-repeat: no-repeat;
  text-indent: -10000px;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.2s;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  .arrows li {
    background-image: url("../images/site/arrows@2x.png");
    background-size: image-width("../images/site/arrows.png") image-height("../images/site/arrows.png");
  }
}
.arrows li:hover {
  opacity: 0.6;
}
@media only screen and (min-width: 768px) {
  .arrows li {
    width: 32px;
    height: 60px;
    background-size: auto 60px;
  }
}
.arrows li.previous {
  background-position: top left;
  left: 20px;
}
.arrows li.next {
  background-position: top right;
  right: 20px;
}

.video-gallery .slide {
  opacity: 0;
  display: none;
  margin-bottom: -3px;
}
.video-gallery .slide.active {
  opacity: 1;
  display: block;
}

@media only screen and (max-width: 767px) {
  #home .arrows {
    top: 427px;
    margin-top: -15px;
  }
}
.hidden-video {
  height: 450px;
  overflow: hidden;
  display: none;
}

.hidden-gallery {
  display: none;
}

.shipping-confirmation {
  max-width: 768px;
  max-height: 525px;
  display: none;
  padding: 35px;
  position: relative;
}
.shipping-confirmation .close {
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 35px;
  top: 35px;
  background: url("/images/site/close_black.svg") 0 0 no-repeat;
}
.shipping-confirmation h2 {
  font-size: 36px;
  margin-bottom: 22px;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
}
.shipping-confirmation h3 {
  box-sizing: border-box;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  color: #B24629;
  text-transform: uppercase;
  border-top: 1px solid #B24629;
  border-bottom: 1px solid #B24629;
  margin-bottom: -1px;
  height: 40px;
  position: relative;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  color: #B24629;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 40px;
}
.shipping-confirmation h3:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 13px;
  display: block;
  background-image: url("../images/site/accordion.png");
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  .shipping-confirmation h3:after {
    background-image: url("../images/site/accordion@2x.png");
    background-size: image-width("../images/site/accordion.png") image-height("../images/site/accordion.png");
  }
}
.shipping-confirmation h3.active:after {
  top: 10px;
  background-position: 0 bottom;
}
.shipping-confirmation p {
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 28px;
}
.shipping-confirmation .agreement {
  margin-bottom: 22px;
  font-size: 18px;
}
.shipping-confirmation .agreement li {
  margin-bottom: 20px;
}
.shipping-confirmation .agreement li input, .shipping-confirmation .agreement li label {
  vertical-align: middle;
  display: inline-block;
}
.shipping-confirmation .shipping-group {
  margin-bottom: 22px;
}
.shipping-confirmation .shipping-group .shipping-list {
  display: none;
}
.shipping-confirmation .shipping-group .shipping-list.active {
  display: block;
}
.shipping-confirmation .shipping-group ul {
  display: flex;
  flex-flow: row wrap;
  margin-top: 15px;
  max-height: 95px;
  overflow-y: auto;
}
.shipping-confirmation .shipping-group li {
  display: inline-block;
  padding-bottom: 15px;
  color: #B24629;
  font-size: 14px;
  flex: 0 1 20%;
}
.shipping-confirmation .shipping-confirmation-confirm {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 0;
}

#content {
  position: relative;
}

.container {
  margin: 0 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    margin: 0 40px;
  }
}
@media only screen and (min-width: 1010px) {
  .container {
    width: 1005px;
    margin: 0 auto;
    position: relative;
  }
}
#home main#content .container {
  margin-top: 0;
  margin-bottom: 0;
}
main#content .container {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1010px) {
  main#content .container {
    margin-top: 80px;
  }
}
.container h1 {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  font-size: 52px;
}
@media only screen and (min-width: 768px) {
  .container h1 {
    font-size: 62px;
  }
}
@media only screen and (min-width: 1010px) {
  .container h1 {
    font-size: 72px;
  }
}
.container #wine h1 {
  font-size: 94px;
}
.container p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
.container strong {
  font-weight: bold;
}
.container em {
  font-style: italic;
}
.container ul {
  padding-left: 25px;
  font-size: 18px;
  line-height: 28px;
  padding-right: 100px;
}
.container ul li {
  list-style: disc;
  margin-bottom: 10px;
}

.page-content.standard-page {
  display: flex;
  flex-flow: row wrap;
}
.page-content:after {
  content: "";
  clear: both;
  width: 100%;
  height: 1px;
  display: block;
}
.page-content .page-image {
  order: 2;
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 1010px) {
  .page-content .page-image {
    padding-left: 75px;
    width: 334px;
  }
}
.page-content .page-image img {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (min-width: 1010px) {
  .page-content .page-image img {
    width: 334px;
  }
}
.page-content .page-text {
  order: 1;
  width: 100%;
}
@media only screen and (min-width: 1010px) {
  .page-content .page-text {
    width: 596px;
  }
}
.page-content .page-text h1 {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1010px) {
  .page-content .page-text h1 {
    margin-bottom: 35px;
  }
}
.page-content .page-text h2 {
  box-sizing: border-box;
  border-top: 1px solid #B24629;
  border-bottom: 1px solid #B24629;
  margin-bottom: -1px;
  height: 68px;
  position: relative;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  color: #B24629;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 68px;
}
.page-content .page-text h2:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  right: 18px;
  top: 25px;
  display: block;
  background-image: url("../images/site/accordion.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5 / 4), (min-resolution: 120dpi) {
  .page-content .page-text h2:after {
    background-image: url("../images/site/accordion@2x.png");
    background-size: image-width("../images/site/accordion.png") image-height("../images/site/accordion.png");
  }
}
.page-content .page-text h2.active:after {
  top: 20px;
  background-position: 0 bottom;
}
.page-content .page-text .page-text-block {
  display: none;
  margin: 35px 0;
}
.page-content .page-text .page-text-block.active {
  display: block;
}
.page-content .add-to-cart {
  position: relative;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
}
.page-content .add-to-cart form {
  display: flex;
  justify-content: space-between;
}
.page-content .add-to-cart form .price {
  font-size: 40px;
  flex-grow: 1;
  position: relative;
  top: 2px;
}
@media only screen and (min-width: 768px) {
  .page-content .add-to-cart form .price {
    font-size: 48px;
    top: 0;
  }
}
.page-content .add-to-cart form .input-group {
  margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .page-content .add-to-cart form .input-group {
    margin-right: 30px;
  }
}
.page-content .add-to-cart form .input-group label {
  display: block;
  font-size: 12px;
  font-family: "P22MackinacMedium", Georgia, serif;
  padding-bottom: 2px;
}
@media only screen and (min-width: 768px) {
  .page-content .add-to-cart form .input-group label {
    font-size: 14px;
  }
}
.page-content .add-to-cart form input[type=number] {
  font-size: 18px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 4px;
  padding: 2px 4px;
  width: 40px;
}
@media only screen and (min-width: 768px) {
  .page-content .add-to-cart form input[type=number] {
    width: 60px;
    font-size: 22px;
  }
}
.page-content .add-to-cart form input[type=submit] {
  height: 42px;
  line-height: 44px;
  padding: 0 15px;
  font-size: 22px;
}
@media only screen and (min-width: 768px) {
  .page-content .add-to-cart form input[type=submit] {
    height: 48px;
    line-height: normal;
    padding: 0 25px;
    font-size: 28px;
  }
}

#products .product-overview {
  margin-top: -140px;
}
@media only screen and (min-width: 768px) {
  #products .product-overview {
    margin-top: -170px;
  }
}
#products .product-overview ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  border-top: 1px solid #B24629;
  padding-top: 85px;
  margin-top: 15px;
}
#products .product-overview ul:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
#products .product-overview ul li {
  box-sizing: border-box;
  padding: 0 25px 50px 25px;
  width: 100%;
  text-align: center;
  list-style: none;
  max-width: 400px;
}
@media only screen and (min-width: 768px) {
  #products .product-overview ul li {
    width: 50%;
    max-width: inherit;
  }
}
@media only screen and (min-width: 1010px) {
  #products .product-overview ul li {
    width: 33%;
  }
}
#products .product-overview ul li img {
  height: 400px;
}
@media only screen and (min-width: 1010px) {
  #products .product-overview ul li img {
    height: 530px;
  }
}
#products .product-overview ul li h3 {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  font-size: 48px;
  margin: 20px 0;
}
#products .product-overview ul li p {
  font-size: 16px;
  line-height: 24px;
}
#products .product-overview ul li a.learn-more, #products .product-overview ul li .faux-buy {
  font-size: 16px;
  color: #B24629;
  text-decoration: none;
}
#products .product-overview ul li a.learn-more:after, #products .product-overview ul li .faux-buy:after {
  padding-left: 5px;
  content: "»";
}
#products .product-overview ul li .buy-reveal {
  margin-top: 10px;
  height: 40px;
  position: relative;
}
#products .product-overview ul li .buy-reveal.active form {
  opacity: 1;
}
#products .product-overview ul li .buy-reveal.active .buy {
  pointer-events: inherit;
}
#products .product-overview ul li .buy-reveal.active .faux-buy {
  opacity: 0;
  pointer-events: none;
}
#products .product-overview ul li .buy-reveal form, #products .product-overview ul li .buy-reveal .buy {
  transition: all 0.25s;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
}
#products .product-overview ul li .buy-reveal .buy {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  font-size: 22px;
  line-height: 42px;
  margin-left: 40px;
  pointer-events: none;
}
#products .product-overview ul li .buy-reveal .faux-buy {
  transition: all 0.1s;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
#products .product-overview ul li .buy-reveal form {
  position: absolute;
  z-index: 0;
  text-align: center;
  width: 100%;
  top: 0;
  opacity: 0;
}
#products .product-overview ul li .buy-reveal form .price {
  display: inline-block;
  vertical-align: middle;
  font-size: 36px;
  line-height: 40px;
  position: relative;
  top: 2px;
}

.product-page-content {
  margin-top: -140px;
}
@media only screen and (min-width: 768px) {
  .product-page-content {
    margin-top: 0;
    display: flex;
    flex-flow: row;
  }
}
.product-page-content .product-page-text h1 {
  text-align: center;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .product-page-content .product-page-text h1 {
    margin-top: 0;
    text-align: left;
  }
}
.product-page-content .product-page-text .wine-specifications {
  padding: 0;
}
.product-page-content .product-page-text .wine-specifications li {
  list-style: none;
}
.product-page-content .wine-page-image {
  position: relative;
  order: 0;
}
@media only screen and (min-width: 768px) {
  .product-page-content .wine-page-image {
    order: 2;
    width: 80px;
    flex-grow: 1;
  }
}
@media only screen and (min-width: 1010px) {
  .product-page-content .wine-page-image {
    padding-left: 75px;
    width: 334px;
  }
  .product-page-content .wine-page-image:before {
    content: "";
    display: block;
    width: 458px;
    height: 454px;
    background-image: url("/images/site/wine-splat.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 458px 454px;
    position: absolute;
    right: -90px;
    top: 110px;
    z-index: 0;
  }
}
.product-page-content .wine-page-image img {
  width: 100px;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .product-page-content .wine-page-image img {
    width: 195px;
    margin: 0 auto;
    position: relative;
  }
}
@media only screen and (min-width: 1010px) {
  .product-page-content .wine-page-image img {
    margin: 0;
  }
}
.product-page-content .product-page-text {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .product-page-content .product-page-text {
    width: calc(100% - 240px);
  }
}
@media only screen and (min-width: 1010px) {
  .product-page-content .product-page-text {
    width: calc(100% - 410px);
  }
}
.product-page-content .product-navigation {
  padding-top: 35px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.product-page-content .product-navigation a {
  color: #B24629;
  text-decoration: none;
}
.product-page-content .product-navigation span:first-child a:after {
  padding-left: 5px;
  content: "»";
}

#awards .awards-list li {
  box-sizing: border-box;
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 70px;
}
#awards .awards-list li:after {
  content: "";
  clear: both;
}
#awards .awards-list li .left-image {
  float: left;
  margin-right: 20px;
}
#awards .awards-list li .left-image img {
  width: 137px;
  border: 2px solid #889B9F;
}
#awards .awards-list li .right-content {
  float: left;
  width: 296px;
}
#awards .awards-list li .award-date {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  font-size: 44px;
}
#awards .awards-list li .award-description {
  padding-bottom: 20px;
}
#awards .awards-list li .award-score {
  background: #ED8F17;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 36px;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  vertical-align: middle;
  margin-right: 10px;
}
#awards .awards-list li .award-giver {
  display: inline-block;
  vertical-align: middle;
}

#news .container h1 {
  font-size: 45px;
}
#news .container .page-detail .news-image {
  float: right;
  margin-left: 20px;
}
#news .container .page-detail .news-content img {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
#news .container .page-content .news-image {
  margin-bottom: 20px;
}
#news .container .page-content .page-text {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#news .container .page-content .page-text:only-of-type, #news .container .page-content .page-text:last-child {
  border-bottom: none;
}
#news .container .pagination {
  clear: left;
  width: 596px;
}
#news .container .pagination a {
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background: #ED8F17;
  font-size: 16px;
  line-height: 40px;
  font-family: "P22MackinacMedium", Georgia, serif;
  margin-top: 10px;
  width: 220px;
  font-style: italic;
  text-decoration: none;
}
#news .container .pagination a:first-child {
  float: right;
}
#news .container .pagination a:last-child {
  float: left;
}
#news .container .pagination:after {
  content: "";
  clear: both;
  width: 100%;
  height: 1px;
  display: block;
}
#news .container .news-search-form form {
  position: relative;
}
#news .container .news-search-form form input[type=search] {
  width: 100%;
  border: none;
  height: 48px;
  line-height: 48px;
  -webkit-appearance: none;
  background-color: #E2E2E2;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  color: #999999;
  font-size: 24px;
  text-indent: 8px;
}
#news .container .news-search-form form input[type=submit] {
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border: none;
  background: #F48F1B url("/images/site/search.png") no-repeat center center;
  text-indent: -10000px;
}
#news .container .news-search {
  width: 596px;
  min-height: 300px;
}
#news .container .news-search .result-listing {
  margin: 0;
  padding: 0;
}
#news .container .news-search .result-listing li {
  border-bottom: 1px solid #E2E2E2;
  list-style: none;
  padding: 14px 0;
  margin: 0;
}
#news .container .news-search .result-listing li:last-child {
  border-bottom: none;
}
#news .container .news-search .result-listing li img {
  float: left;
  margin-right: 25px;
}
#news .container .news-search .result-listing a {
  color: #333333;
  text-decoration: none;
}
#news .container .news-search .result-listing a span {
  color: #B24629;
  display: block;
}
#news .container .news-search .result-listing a span:last-child {
  color: #333333;
}
#news .container .news-search .no-results {
  font-size: 18px;
}
#news .container #news-sidebar {
  float: right;
  padding-left: 75px;
  width: 334px;
}
#news .container #news-sidebar a {
  color: #B24629;
}
#news .container #news-sidebar .news-sidebar-section {
  margin-bottom: 40px;
}
#news .container #news-sidebar h1 {
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  color: #999999;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 52px;
  text-align: center;
}
#news .container #news-sidebar ul {
  padding: 0px;
}
#news .container #news-sidebar ul h4 {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: -4px;
}
#news .container #news-sidebar ul li {
  border-bottom: 1px solid #E2E2E2;
  list-style: none;
  padding: 14px 0;
  margin-bottom: 0;
  float: left;
}
#news .container #news-sidebar ul li a {
  font-family: "Nickyshand", Tahoma, Geneva, sans-serif;
  text-decoration: none;
  color: #333333;
  float: left;
  font-size: 20px;
}
#news .container #news-sidebar ul li a:hover {
  color: #ED8F17;
}
#news .container #news-sidebar ul li img {
  float: left;
  margin-right: 10px;
}
#news .container #news-sidebar #mc_embed_signup {
  padding: 25px 30px;
  background-color: #F3F3F3;
}
#news .container #news-sidebar #mc_embed_signup h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
#news .container #news-sidebar #mc_embed_signup .mc-field-group {
  margin-bottom: 15px;
}
#news .container #news-sidebar #mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 5px;
}
#news .container #news-sidebar #mc_embed_signup .mc-field-group input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
}
#news .container #news-sidebar #mc_embed_signup .mc-field-group .mce_inline_error {
  width: 100%;
  box-sizing: border-box;
}
#news .container #news-sidebar #mc_embed_signup input[type="submit"] {
  -webkit-appearance: button;
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background: #ED8F17;
  font-size: 16px;
  line-height: 20px;
  font-family: "P22MackinacMedium", Georgia, serif;
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

#contact .prefer_email {
  clear: both;
  padding-top: 30px;
}
#contact .prefer_email a {
  color: #B24629;
  text-decoration: none;
}
#contact .prefer_email a:hover {
  text-decoration: underline;
}
#contact .success {
  display: none;
}
#contact .success p {
  margin-top: 20px;
}
#contact .success strong {
  font-weight: bold;
}
#contact .errors {
  display: none;
  font-style: italic;
  padding: 10px 0;
  border-top: 1px solid #B24629;
  border-bottom: 1px solid #B24629;
  margin: 20px 0;
}
#contact .errors ul li {
  font-size: 14px;
  margin-bottom: 5px;
}
#contact .errors ul li:last-child {
  margin-bottom: 0;
}
#contact form {
  margin-top: 20px;
}
#contact form .form-left {
  float: left;
  width: 240px;
}
#contact form .form-right {
  float: left;
}
#contact form #location {
  display: none;
}
#contact label, #contact input, #contact button, #contact select, #contact textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
#contact .required {
  color: red;
  padding-left: 5px;
}
#contact input[type="submit"] {
  -webkit-appearance: button;
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  color: #fff;
  background: #ED8F17;
  font-size: 16px;
  line-height: 20px;
  font-family: "P22MackinacMedium", Georgia, serif;
  margin-top: 10px;
  width: 220px;
}
#contact label {
  display: block;
  margin-bottom: 5px;
}
#contact select, #contact textarea {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
}
#contact input[type="text"], #contact input[type="password"], #contact input[type="datetime"], #contact input[type="datetime-local"], #contact input[type="date"], #contact input[type="month"], #contact input[type="time"], #contact input[type="week"], #contact input[type="number"], #contact input[type="email"], #contact input[type="url"], #contact input[type="search"], #contact input[type="tel"], #contact input[type="color"] {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
}
#contact input {
  width: 206px;
}
#contact textarea {
  width: 340px;
  height: 140px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
#contact input[type="text"], #contact input[type="password"], #contact input[type="datetime"], #contact input[type="datetime-local"], #contact input[type="date"], #contact input[type="month"], #contact input[type="time"], #contact input[type="week"], #contact input[type="number"], #contact input[type="email"], #contact input[type="url"], #contact input[type="search"], #contact input[type="tel"], #contact input[type="color"] {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
#contact textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
#contact input[type="text"]:focus, #contact input[type="password"]:focus, #contact input[type="datetime"]:focus, #contact input[type="datetime-local"]:focus, #contact input[type="date"]:focus, #contact input[type="month"]:focus, #contact input[type="time"]:focus, #contact input[type="week"]:focus, #contact input[type="number"]:focus, #contact input[type="email"]:focus, #contact input[type="url"]:focus, #contact input[type="search"]:focus, #contact input[type="tel"]:focus, #contact input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
#contact .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
#contact input[type="radio"], #contact input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}
