@import url("//hello.myfonts.net/count/2d09fb");
@import url("//hello.myfonts.net/count/2d0c65");
/* line 5, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "P22MackinacMedium";
  src: url("../fonts/2D09FB_0_0.eot");
  src: url("../fonts/2D09FB_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D09FB_0_0.woff2") format("woff2"), url("../fonts/2D09FB_0_0.woff") format("woff"), url("../fonts/2D09FB_0_0.ttf") format("truetype");
}
@font-face {
  font-family: "Nickyshand";
  src: url("../fonts/nickyshand_regular-webfont.eot");
  src: url("../fonts/nickyshand_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nickyshand_regular-webfont.woff2") format("woff2"), url("../fonts/nickyshand_regular-webfont.woff") format("woff"), url("../fonts/nickyshand_regular-webfont.ttf") format("truetype"), url("../fonts/nickyshand_regular-webfont.svg#nickyshandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlternateGothicCom-No2";
  src: url("../fonts/2D0C65_0_0.eot");
  src: url("../fonts/2D0C65_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/2D0C65_0_0.woff2") format("woff2"), url("../fonts/2D0C65_0_0.woff") format("woff"), url("../fonts/2D0C65_0_0.ttf") format("truetype");
}
@media all {
  /* line 55, sass/_mixins.scss */
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent;
  }
  /* line 68, sass/_mixins.scss */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }
  /* line 71, sass/_mixins.scss */
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  /* line 78, sass/_mixins.scss */
  .featherlight .featherlight-content {
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 85%;
    max-width: 85%;
    background: #fff;
    cursor: auto;
    white-space: normal;
  }
  /* line 92, sass/_mixins.scss */
  .featherlight .featherlight-inner {
    display: block;
  }
  /* line 95, sass/_mixins.scss */
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 50px;
    right: 50px;
    line-height: 22px;
    width: 22px;
    cursor: pointer;
    text-align: center;
    text-indent: -10000px;
    background: url('/images/site/close.svg?1475692222') no-repeat 0 0;
  }
  /* line 107, sass/_mixins.scss */
  .featherlight .featherlight-image {
    width: 100%;
  }
  /* line 110, sass/_mixins.scss */
  .featherlight iframe {
    border: none;
  }

  /* line 114, sass/_mixins.scss */
  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
  }
}
/* line 9, sass/shared.sass */
body {
  background-color: #fff;
  color: #333333;
  font-family: "P22MackinacMedium", Georgia, serif;
}

/* line 16, sass/shared.sass */
header {
  border-bottom: 30px solid #B24629;
  height: 360px;
  display: block;
}
/* line 17, sass/shared.sass */
#home header {
  height: 770px;
}
/* line 19, sass/shared.sass */
#commerce header {
  height: 120px;
}
/* line 24, sass/shared.sass */
header .header-container {
  width: 1005px;
  margin: 0 auto;
  position: relative;
}
/* line 28, sass/shared.sass */
header nav {
  background-color: rgba(0, 0, 0, 0.35);
  height: 120px;
  margin-bottom: -120px;
  z-index: 1;
  position: relative;
}
/* line 34, sass/shared.sass */
header .logo {
  width: 225px;
  height: 67px;
  background: url('/images/site/logo.png?1468442015') no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  left: 50%;
  top: 8px;
  margin-left: -112px;
}
/* line 35, sass/shared.sass */
header .logo h1, header .logo h3 {
  text-indent: -10000px;
}
/* line 37, sass/shared.sass */
header .logo a {
  width: 225px;
  height: 67px;
  display: block;
}
/* line 49, sass/shared.sass */
header .navigation {
  padding-top: 93px;
  display: block;
  width: 800px;
  margin: 0 auto;
  text-align: justify;
}
/* line 55, sass/shared.sass */
header .navigation:after {
  width: 100%;
  display: inline-block;
  content: ".";
  visibility: hidden;
}
/* line 60, sass/shared.sass */
header .navigation li {
  display: inline-block;
  text-transform: uppercase;
}
/* line 63, sass/shared.sass */
header .navigation a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 10px;
}
/* line 68, sass/shared.sass */
header .navigation a.active {
  border-bottom: 5px solid #fff;
}

/* line 72, sass/shared.sass */
.top-menu {
  position: absolute;
  top: 15px;
  right: 0;
  height: 25px;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  line-height: 26px;
}
/* line 79, sass/shared.sass */
.top-menu .localization {
  display: inline-block;
  vertical-align: top;
}
/* line 82, sass/shared.sass */
.top-menu .localization li {
  padding: 0 12px;
  height: 25px;
  background: #fff;
  color: #999999;
  float: left;
  display: block;
}
/* line 89, sass/shared.sass */
.top-menu .localization li.active {
  background: #B24629;
}
/* line 91, sass/shared.sass */
.top-menu .localization li.active a {
  color: #fff;
}
/* line 93, sass/shared.sass */
.top-menu .localization li a {
  text-decoration: none;
  color: #999999;
}
/* line 96, sass/shared.sass */
.top-menu .cart {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 16px;
  height: 100%;
  color: white;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  text-transform: uppercase;
}
/* line 105, sass/shared.sass */
.top-menu .cart .fa {
  padding-right: 4px;
}
/* line 107, sass/shared.sass */
.top-menu .cart a {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
}
/* line 112, sass/shared.sass */
.top-menu .cart a span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 4px;
  margin-top: 3px;
  border-radius: 9px;
  background: #ED8F17;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  min-width: 19px;
  padding: 0 6px;
  height: 19px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

/* line 128, sass/shared.sass */
footer {
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 50px;
  font-size: 14px;
}
/* line 129, sass/shared.sass */
#home footer {
  padding-top: 14px;
}
/* line 136, sass/shared.sass */
footer a {
  color: #333333;
  text-decoration: none;
}
/* line 139, sass/shared.sass */
footer a:hover {
  text-decoration: underline;
}
/* line 141, sass/shared.sass */
footer ul {
  margin-bottom: 10px;
}
/* line 143, sass/shared.sass */
footer ul li {
  display: inline-block;
  padding: 0 25px;
  border-right: 1px solid #333333;
}
/* line 147, sass/shared.sass */
footer ul li:last-child {
  border-right: none;
}
/* line 150, sass/shared.sass */
footer ul li.facebook a {
  text-indent: -10000px;
  background-image: url('/images/site/facebook.png?1468442015');
  width: 18px;
  height: 18px;
  position: relative;
  top: -2px;
  display: inline-block;
  background-size: 100%;
}
