@charset "UTF-8";
@media all {
  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: transparent;
  }
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }
  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .featherlight .featherlight-content {
    text-align: left;
    vertical-align: middle;
    display: inline-flex;
    overflow: hidden;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    width: 85%;
    cursor: auto;
    white-space: normal;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .featherlight .featherlight-inner {
    display: block;
  }
  .featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 20px;
    line-height: 22px;
    width: 22px;
    cursor: pointer;
    text-align: center;
    text-indent: -10000px;
    background: url("/images/site/close.svg") no-repeat 0 0;
  }
  .featherlight .featherlight-image {
    width: 100%;
  }
  .featherlight iframe {
    border: none;
  }

  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
  }
}
/* Grid
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%;
  }

  .column, .columns {
    margin-left: 4%;
  }

  .column:first-child, .columns:first-child {
    margin-left: 0;
  }

  .one.column, .one.columns {
    width: 4.66667%;
  }

  .two.columns {
    width: 13.33333%;
  }

  .three.columns {
    width: 22%;
  }

  .four.columns {
    width: 30.66667%;
  }

  .five.columns {
    width: 39.33333%;
  }

  .six.columns {
    width: 48%;
  }

  .seven.columns {
    width: 56.66667%;
  }

  .eight.columns {
    width: 65.33333%;
  }

  .nine.columns {
    width: 74%;
  }

  .ten.columns {
    width: 82.66667%;
  }

  .eleven.columns {
    width: 91.33333%;
  }

  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.66667%;
  }

  .two-thirds.column {
    width: 65.33333%;
  }

  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66667%;
  }

  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.33333%;
  }

  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%;
  }

  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.66667%;
  }

  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.33333%;
  }

  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%;
  }

  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.66667%;
  }

  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.33333%;
  }

  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78%;
  }

  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.66667%;
  }

  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.33333%;
  }

  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.66667%;
  }

  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.33333%;
  }

  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* Base Styles
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Typography
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 300;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

/* Larger than phablet */
p {
  margin-top: 0;
}

/* Links
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #ED8F17;
  text-decoration: none;
}
a:hover {
  color: rgba(237, 143, 23, 0.8);
  text-decoration: none;
}

/* Buttons
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button {
  display: inline-block;
  vertical-align: top;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  vertical-align: top;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button .fa, button .fa {
  font-size: 16px;
}

.button:hover, button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button:focus, button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary, button.button-primary {
  color: #FFF;
  background-color: #ED8F17;
  border-color: #ED8F17;
}

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #FFF;
  background-color: #ED8F17;
  border-color: #ED8F17;
}

.button.button-primary:hover, button.button-primary:hover {
  color: #FFF;
  background-color: #ED8F17;
  border-color: #ED8F17;
}

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #FFF;
  background-color: #ED8F17;
  border-color: #ED8F17;
}

.button.button-primary:focus, button.button-primary:focus {
  color: #FFF;
  background-color: #ED8F17;
  border-color: #ED8F17;
}

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #ED8F17;
  border-color: #ED8F17;
}

.button.link {
  display: inline;
  border: none;
  text-transform: none;
  padding: 0px;
  font-size: 1em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1;
  font-weight: 400;
  color: #ED8F17;
  text-align: left;
  height: auto;
}

/* Forms
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
label, input, button, textarea, select {
  font-family: "Source Sans Pro", sans-serif;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

textarea, select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #ED8F17;
  outline: 0;
}

textarea:focus, select:focus {
  border: 1px solid #ED8F17;
  outline: 0;
}

label, legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
label:only-of-type, legend:only-of-type {
  margin-bottom: 0;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

/* Lists
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul, ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 0.5rem;
}

/* Code
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

/* Spacing
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, .button {
  margin-bottom: 1rem;
}

input, textarea, select, fieldset {
  margin-bottom: 1.5rem;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem;
}

/* Utilities
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

/* Misc
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Helpers
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

/* Media Queries
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* Steps
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.steps {
  margin-bottom: 40px;
}
.steps ul {
  display: flex;
  display: -webkit-flex;
  margin-bottom: 0;
}
.steps ul li {
  list-style: none;
  display: block;
  flex: 1;
  color: #aaa;
}
.steps ul li a {
  color: #aaa;
}
.steps ul li.done {
  color: #B24629;
  opacity: 0.5;
}
.steps ul li.done a {
  color: #B24629;
}
.steps ul li.sel {
  color: #B24629;
  opacity: 1;
}
.steps ul li.sel a {
  color: #B24629;
}
.steps .meter {
  height: 10px;
  position: relative;
  border: 1px solid #bbb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 10px;
}
.steps .meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #B24629;
  position: relative;
  overflow: hidden;
}

@media (max-width: 750px) {
  .steps ul {
    display: block;
    margin-left: 24px;
  }
  .steps ul li {
    list-style: decimal;
    display: list-item;
  }
  .steps .meter {
    display: none;
  }
}
/* Commerce Design
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
#main {
  margin-top: 25px;
}

img.product {
  width: 100%;
}

.flash {
  color: #ED8F17;
  margin-bottom: 10px;
}

.flash-bar {
  background-color: #ED8F17;
  height: 35px;
  line-height: 37px;
  color: #fff;
  padding: 0 10px;
  margin: 20px 0 15px;
  font-family: "AlternateGothicCom-No2", Tahoma, Geneva, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
.flash-bar span {
  margin-right: 10px;
}
#commerce #content .container .flash-bar {
  position: relative;
  bottom: 30px;
  margin-top: 0;
}

.has-error input {
  border: 1px solid #ED8F17;
}
.has-error .help-block {
  color: #ED8F17;
}

.address-select {
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 1em;
  position: relative;
  border-radius: 4px;
}
.address-select .radio {
  padding: 14px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address-select .radio input {
  margin: 0 5px 0 0;
  position: relative;
  top: -1px;
}
.address-select ul.address-data {
  display: inline;
}
.address-select ul.address-data li {
  display: inline;
  display: inline;
}
.address-select ul.address-data li strong {
  display: none;
}
.address-select ul.address-data li span[data-key=firstName], .address-select ul.address-data li span[data-key=lastName] {
  font-weight: bold;
}
.address-select .actions {
  float: right;
  padding: 14px 15px;
  font-size: 0.9em;
}
.address-select .actions ul {
  margin: 0;
}
.address-select .actions ul li {
  display: inline-block;
  margin: 0 0 0 1em;
}
.address-select .actions ul li a {
  color: #999;
  text-decoration: underline;
}
.address-select .body {
  padding: 14px;
}

.hidden {
  display: none;
}

.no-items {
  text-align: center;
}

.product.row {
  border-bottom: 1px solid #fafafa;
  margin-bottom: 2.5rem;
}

.product-details {
  padding-top: 2rem;
}

.address-card {
  background-color: transparent;
  border-radius: 5px;
  padding: 20px 0px 0px 20px;
  border: 1px solid #E1E1E1;
  margin-bottom: 15px;
  position: relative;
}
.address-card form {
  display: inline;
  margin: 0px;
}
.address-card .edit {
  position: absolute;
  top: 20px;
  right: 20px;
}
.address-card ul {
  list-style: none;
}

.shipping-select {
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 1em;
  position: relative;
  border-radius: 4px;
}
.shipping-select input {
  margin: 0 5px 0 0;
}
.shipping-select label {
  padding: 10px 14px;
}
.shipping-select .price {
  float: right;
  padding: 4px 4px;
  font-size: 0.9em;
  font-weight: normal;
}

.review-card {
  background-color: transparent;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #E1E1E1;
  margin-bottom: 15px;
  position: relative;
}
.review-card ul {
  list-style: none;
  margin: 0;
}
.review-card ul li {
  border-top: 1px solid #E1E1E1;
  padding: 10px 0;
}

.order-confirmation {
  border: 1px solid #B24629;
  background: rgba(178, 70, 41, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}
.order-confirmation h2 {
  margin-bottom: 5px;
}
.order-confirmation p {
  margin-bottom: 0;
}
