<div class="shipping-confirmation">
  <div class="close"></div>
  <h2>{{ shippingConfirmation.shippingTitle }}</h2>
  <p>{{ shippingConfirmation.shippingBody }}</p>
  <div class="shipping-group">
    <h3 class="active">Approved US Destinations</h3>
    <div class="shipping-list active">
      <ul>
      {% for state in shippingConfirmation.shippingDestinationsInUs %}
        <li>{{state.label}}</li>
      {% endfor %}
      </ul>
    </div>

    <h3>Approved EU Destinations</h3>
    <div class="shipping-list">
      <ul>
      {% for country in shippingConfirmation.shippingDestinationsInEu %}
        <li>{{country.label}}</li>
      {% endfor %}
      </ul>
    </div>

  </div>
  <ul class="agreement">
    <li>
      <input type="checkbox" name="age_agreement" value="age">
      <label for="age_agreement">{{ 'Are you 21' | t }}</label>
    </li>
    <li>
      <input type="checkbox" name="shipping_agreement" value="shipping">
      <label for="shipping_agreement">{{ 'Are you in EU/US' | t }}</label>
    </li>
  </ul>
  <!-- <a href="#" class="shipping-confirmation-confirm button">Confirm</a> -->
</div>
