{% extends "_layout" %}
{% block content %}
  
<div class="page-content">

  <div id="news-sidebar">

    <div class="news-sidebar-section news-search-form">
      <h1>{{ "Search Archives" | translate }}</h1>
      <form action="{{ url('news/archive') }}">
        <input type="search" name="q" placeholder="{{ 'Search' | translate }}">
        <input type="submit" value="Go">
      </form>
    </div>
    
  </div>
    
  <h1>Search Results</h1>

  <div class="news-search">
    {% set query = craft.request.getParam('q') %}
    {% set entries = craft.entries.section('news').search(query).order('score') %}

    {% if entries|length %}

      <p class="number-results">{{ entries|length }} results:</p>

      <ul class="result-listing">
        {% for entry in entries %}
          <li>
            <a href="{{ entry.url }}">
            <img src="{{ entry.newsImage.first().getUrl('thumb') }}" width="{{ entry.newsImage.first().getWidth('thumb') }}" height="{{   entry.newsImage.first().getHeight('thumb') }}">
            <span>{{ entry.title }}</span>
            <span>{{ entry.postDate.format('F d, Y') }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>

      {% else %}

      <p class="no-results">Your search for “{{ query }}” didn’t return any results.</p>

    {% endif %}  
  </div>

</div>

{% endblock %}
