{% extends "_layout" %}
{% block content %}
  
  <div class="page-content">
    
  <div id="news-sidebar">
    <!-- Sidebar -->
    <h1>Recent Updates</h1>
    <ul>
    {% set allEntries = craft.entries.section('news').limit(10) %}
    {% for entry in allEntries %}
      <li>
        <h4>{{ entry.postDate.format('F d, Y') }}</h4>
        <img src="{{ entry.newsImage.first().getUrl('thumb') }}" width="{{ entry.newsImage.first().getWidth('thumb') }}" height="{{ entry.newsImage.first().getHeight('thumb') }}">
        {{ entry.getLink() }}
      </li>
    {% endfor %}
    </ul>
  </div>

  <!-- Article Area -->
  {% paginate craft.entries.section('news').limit(100) as pageEntries %}
    {% for entry in pageEntries %}
    <article class="page-text">
      <p class="news-date">{{ entry.postDate.format('F d, Y') }}</p>
      <h1>{{ entry.title }}</h1>
      <div class="news-image">
        <img src="{{ entry.newsImage.first().getUrl('newsMainImage') }}" width="{{ entry.newsImage.first().getWidth('newsMainImage') }}" height="{{ entry.newsImage.first().getHeight('newsMainImage') }}">
      </div>
      <div class="news-content">
        {{ entry.body }}        
      </div>
    </article>
    {% endfor %}

    {% if paginate.prevUrl %}<a href="{{ paginate.prevUrl }}">Previous Page</a>{% endif %}
    {% if paginate.nextUrl %}<a href="{{ paginate.nextUrl }}">Next Page</a>{% endif %}
  {% endpaginate %}    
  </div>

{% endblock %}
