<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ "Craft Commerce"|t }}</title>

  <meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

  <link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600'>
  <link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" type='text/css' href="{{ url('/css/shared.css') }}">
  <link rel="stylesheet" type='text/css' href="{{ url('/css/store.css') }}">

</head>
<body id="commerce">

  {% set cart = craft.commerce.cart %}

  <!-- Set region and currency based on IP and the Shipping Destinations in EU  -->
  {% set regionCode = 'us'  %}
  {% set currencyCode = 'USD' %}

  {% set euroList = [] %}
  {% for country in shippingConfirmation.shippingDestinationsInEu %}
    {% set euroList = euroList|merge([country.value]) %}
  {% endfor %}
  {% if craft.geo.info.country_code in euroList %}
    {% set regionCode = 'eu'  %}
    {% set currencyCode = 'EUR'  %}
  {% endif  %}

  {% include 'partials/header.html' with {'banners': false} %}

  {% block header %}
  <div id="header" class="container">
    <div class="row">
      <div class="twelve columns">
        {% include 'partials/flashes.html' %}
      </div>
    </div>
  </div>
  {% endblock %}

  {% block body %}
  <div id="main" class="container">
    {% block main %}
    <div class="row">
      <div class="twelve columns">
        <h4>Default Content</h4>
        <p>You should not see this.</p>
      </div>
    </div>
    {% endblock %}
  </div>
  {% endblock %}

  {% include 'partials/footer.html' %}

</body>
</html>
