<div class="shipping-confirmation modal">
  <div class="close"></div>

  <h2>{{ shippingConfirmation.shippingTitle }}</h2>
  <p>{{ shippingConfirmation.shippingBody }}</p>
  {% include 'partials/shipping_locations' %}

  <ul class="agreement">
    <li>
      <input type="checkbox" name="age_agreement" value="age">
      <label for="age_agreement">{{ 'Are you 21' | t }}</label>
    </li>
    <li>
      <input type="checkbox" name="shipping_agreement" value="shipping">
      <label for="shipping_agreement">{{ 'Are you in EU/US' | t }}</label>
    </li>
  </ul>
  <input type="submit" disabled="disabled" value="{{ "Confirm" | t }}" class="shipping-confirmation-confirm" />

</div>
