{% set section = craft.request.getSegment(1) %}
{% set subsection = craft.request.getSegment(2) %}
{% set display_menu = section != 'commerce' or subsection == 'cart' %}

<div class="top-menu">
  <div class="user-menu">
    {% if currentUser %}
      <p>
        {{ 'Welcome' | t }}, {{ currentUser.username }}
      </p>
      <a href="{{ logoutUrl }}"><span class="fa fa-sign-in"></span> {{ "Logout" | t }}</a>
    {% else %}
      <a href="{{ loginUrl }}"><span class="fa fa-sign-out"></span> {{ "Login" | t }}</a>
    {% endif %}
  </div>

  {% if display_menu %}
  <div class="options-menu">
    {% set pageUri = craft.request.url|replace(siteUrl, '') %}
    <ul class="localization">
      <li {% if craft.locale == 'en_us' %}class="active"{% endif %}>
        <a href="{{ craft.config.siteUrl['en_us'] ~ pageUri }}" >EN</a>
      </li>
      <li {% if craft.locale == 'it' %}class="active"{% endif %}>
        <a href="{{ craft.config.siteUrl['it'] ~ pageUri }}" >ITA</a>
      </li>
    </ul>
    <div class="cart">
      <a class="{% if craft.request.getSegment(1) == 'cart' %}button-primary{% endif %}" href="{{ url('commerce/cart') }}">
        <i class="fa fa-shopping-cart"></i> {{ "Cart"|t }} <span>{{ cart.totalQty }}</span>
      </a>
    </div>
  </div>
  {% elseif not display_menu and currentUser %}
    <div class="options-menu order-menu">
      {% if currentUser %}
        <a href="{{ url('commerce/customer') }}">{{ "My Orders"|t }}</a>
        <a href="{{ url('commerce/customer/addresses') }}">{{ "My Addresses"|t }}</a>
      {% endif %}
    </div>
  {% endif %}
</div>

<nav>
  <div class="header-container">

    <div class="logo">
      <a href="{{ siteUrl }}">
      <h1>{{ siteName }}</h1>
      <h3>Fiesole, Italia</h3>
      </a>
    </div>

    {% if display_menu %}
    <ul class="navigation">
      <li><a href="{{ url('about') }}" {% if craft.request.getSegment(1) == 'about' %}class="active"{% endif %}>{{"About" | translate}}</a></li>
      <li><a href="{{ url('vineyard') }}" {% if craft.request.getSegment(1) == 'vineyard' %}class="active"{% endif %}>{{"Vineyard & Winery" | translate}}</a></li>
      <li><a href="{{ url('products') }}" {% if craft.request.getSegment(1) == 'products' %}class="active"{% endif %}>{{"Products" | translate}}</a></li>
      <li><a href="{{ url('awards') }}" {% if craft.request.getSegment(1) == 'awards' %}class="active"{% endif %}>{{"Press & Awards" | translate}}</a></li>
      <li><a href="{{ url('gallery') }}" {% if craft.request.getSegment(1) == 'gallery' %}class="active"{% endif %}>{{"Gallery" | translate}}</a></li>
      <li><a href="{{ url('contact') }}" {% if craft.request.getSegment(1) == 'contact' %}class="active"{% endif %}>{{"Contact" | translate}}</a></li>
    </ul>
    {% endif %}
  </div>
</nav>
