<nav>
  <div class="header-container">

    <div class="mobile-controls">
      <i class="mobile-menu fa fa-bars" aria-hidden="true"></i>
      <i class="mobile-close fa fa-times" aria-hidden="true"></i>
    </div>

    <div class="logo">
      <a href="{{ siteUrl }}">
      <h1>{{ siteName }}</h1>
      <h3>Fiesole, Italia</h3>
      </a>
    </div>

    {% if display_menu %}
    <ul class="navigation">
      <li><a href="{{ url('about') }}" {% if craft.request.getSegment(1) == 'about' %}class="active"{% endif %}>{{menuItems.aboutLink}}</a></li>
      <li><a href="{{ url('vineyard') }}" {% if craft.request.getSegment(1) == 'vineyard' %}class="active"{% endif %}>{{menuItems.vineyardLink }}</a></li>
      <li><a href="{{ url('products') }}" {% if craft.request.getSegment(1) == 'products' %}class="active"{% endif %}>{{menuItems.productsLink }}</a></li>
      <li><a href="{{ url('awards') }}" {% if craft.request.getSegment(1) == 'awards' %}class="active"{% endif %}>{{menuItems.awardsLink }}</a></li>
      <li><a href="{{ url('gallery') }}" {% if craft.request.getSegment(1) == 'gallery' %}class="active"{% endif %}>{{menuItems.galleryLink }}</a></li>
      <li><a href="{{ url('contact') }}" {% if craft.request.getSegment(1) == 'contact' %}class="active"{% endif %}>{{menuItems.contactLink }}</a></li>
      <li class="localization-tab">
        {% include 'partials/language_portal' %}
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
