<!-- Begin MailChimp Signup Form -->
{% for block in product.mailchimpId.idList %}
  {% set id = block[craft.locale ~ 'MailchimpId'] %}
  <div class="mc_embed_signup modal" data-product="modal-{{variant.sku}}">
    <form action="//poggiolanoce.us10.list-manage.com/subscribe/post?u=ffb9c9236c7a0ef44f36a38bf&amp;id=5a5434138c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2>{{ "Notify me when item is back in stock" | t }}</h2>
        <input type="hidden" value="{{ id }}" name="group[16549][{{ id }}]">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ffb9c9236c7a0ef44f36a38bf_5a5434138c" tabindex="-1" value=""></div>
        <div class="clear">

        <div class="mc-field-group input-group">
          <label for="mce-EMAIL">{{ "Email" | t }}</label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>

      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
{% endfor %}
