<div class="page-image">
  {% set images = entry.pageImage %}
  {% for image in images %}
    <img src="{{ image.getUrl() }}" alt="">
  {% endfor %}

  {% set galleries = entry.photoGallery %}
  {% if galleries | length > 0 %}
    <div class="page-galleries">
      {% for gallery in galleries %}
        {% include 'partials/gallery_launcher.html' with {
          'title': gallery.galleryTitle,
          'description': gallery.galleryDescription,
          'prefix': 'photo-gallery',
          'imageTransform': 'galleryThumb',
          'asset': gallery.galleryImages.first()
        }%}
        {% include 'partials/gallery.html' with { 'type': 'photo' } %}
      {% endfor %}
  </div>
  {% endif %}
</div>
