<li>
  <a href="{{item.getUrl()}}"><img src="{{ item.bottleImage.first().url() }}" alt=""></a>
  <h3>{{ item.title }}</h3>
  <p>{{ item.wineSummary }}</p>
  <a class="learn-more" href="{{item.getUrl()}}">Learn More</a>
  <!--  -->
  <div class="buy-reveal">
    <a class="faux-buy">{{ "Purchase" | t }}</a>
    <form method="POST">
      <input type="hidden" name="action" value="commerce/cart/updateCart">
      <input type="hidden" name="redirect" value="commerce/cart">
      <input type="hidden" name="qty" value="1" min="1" max="10">
      <input type="hidden" value="{{ item.defaultVariantId }}" name="purchasableId" />
      {{ getCsrfInput() }}

      <span class="price">{{ item.defaultVariant.price|currency(cart.currency) }}</span>
      {% if item.defaultVariant.stock <= 0 and item.defaultVariant.unlimitedStock == false %}
        <input class="buy" type="submit" disabled="disabled" value="{{ "Out of Stock" | t }}" />
      {% else %}
        <input class="buy" type="submit" value="{{ "Add to cart" | t }}" />
      {% endif %}
    </form>
  </div>
</li>
