{% set destinations = [] %}
{% set destinations = destinations|merge([{title: "Approved US Dests", list: shippingConfirmation.shippingDestinationsInUs}]) %}
{% set destinations = destinations|merge([{title: "Approved EU Dests", list: shippingConfirmation.shippingDestinationsInEu}]) %}
{% if regionCode == 'eu' %}{% set destinations = destinations|reverse %}{% endif %}

<div class="shipping-group">
 {% for destination in destinations %}
  <h3 {% if loop.first %}class="active"{% endif %}>{{ destination.title | t }}</h3>
  <div class="shipping-list {% if loop.first %}active{% endif %}">
    <ul>
    {% for place in destination.list %}
      <li>{{place.label}}</li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
