{% extends "_layouts/_commerce" %}

{% block main %}
  <div class="row">
    <div class="twelve columns">
      {% if currentUser %}

        <h1>{{ "My Orders" | t }}</h1>

        {% set orders = craft.commerce.orders.customer(craft.commerce.customer).find() %}

        {% if orders %}
        <table class="u-full-width">
          <thead>
            <tr>
              <th>{{ "Order"|t }}</th>
              <th>{{ "Date"|t }}</th>
              <th>{{ "Total Quantity"|t }}</th>
              <th>{{ "Total"|t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td><a href="{{ url('commerce/customer/order', { number: order.number }) }}">Order #{{ order.number[:7] }}</a></td>
              <td>{{ order.dateOrdered }}</td>
              <td>{{ order.totalQty }} {{ "items" | t }}</td>
              <td>{{ order.totalPrice|currency(order.currency) }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>{{ "No orders found" | t }}</p>
        {% endif %}

      {% endif %}
    </div>
  </div>
{% endblock %}
