{% extends "_layouts/_layout" %}

{% block content %}
{% cache globally using key craft.request.path %}

  {% set awards = craft.entries.section('awards') %}

  <article class="page-content">
    <div class="awards-list">
      {% for award in awards %}
        <li>
          <div class="left-content">
            <h4 class="award-title">{{ award.title }}</h4>

            <ul class="badges">
              {% for block in award.awardBadges %}
                <li>
                  {% if block.awardUrl %}
                    <a href="{{ block.awardUrl }}">
                  {% endif %}
                  {% if block.type == "numericalAward" %}
                      <div class="award-badge-body">
                        <h2>{{ block.wineScore }}</h2>
                      </div>
                      <h3>{{ block.awardSponsor }}</h3>
                  {% elseif block.type == "imageAward" %}
                      <div class="award-badge-body">
                        <img src="{{ block.awardImage.first().getUrl() }}" alt="">
                      </div>
                      <h3>{{ block.awardSponsor }}</h3>
                  {% endif %}
                  {% if block.awardUrl %}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <ul class="quotes">
              {% for block in award.awardQuotes %}
                <li>
                  <p>"{{ block.quoteBody }}"</p>
                  <h3>– {{ block.quoteAuthor }}</h3>
                </li>
              {% endfor %}
            </ul>

          </div>

          {% set award_image = award.bottleImage.first() %}
          {% if award_image %}
          <figure class="right-image">
            <img src="{{ award_image.getUrl() }}" alt="">
          </figure>
          {% endif %}
        </li>
      {% endfor %}
    </div>
  </article>

{% endcache %}
{% endblock %}
