{% extends "_layouts/_layout" %}

{% block content %}
{% cache globally using key craft.request.path %}

  {% set awards = craft.entries.section('awards') %}

  <article class="page-content">
    <div class="awards-list">
      {% for award in awards %}
        <li>
          <div class="left-content">
            <h4 class="award-title">{{ award.title }}</h4>

            <ul class="badges">
              {% for block in award.awardBadges %}
                <li>
                  {% if block.awardUrl is defined %}
                    <a href="{{ block.awardUrl }}">
                  {% endif %}
                  {% if block.type == "numericalAward" %}
                      <h2>{{ block.wineScore }}</h2>
                      <h3>{{ block.awardSponsor }}</h3>
                  {% elseif block.type == "imageAward" %}
                      <img src="{{ block.awardImage.first().getUrl() }}" alt="">
                      <h3>{{ block.awardSponsor }}</h3>
                  {% endif %}
                  {% if block.awardUrl is defined %}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            <ul class="quotes">
              {% for block in award.awardQuotes %}
                <li>
                  <p>"{{ block.quoteBody }}"</p>
                  <h3>– {{ block.quoteAuthor }}</h3>
                </li>
              {% endfor %}
            </ul>

          </div>

          <figure class="right-image">
            <img src="{{ award.bottleImage.first().getUrl() }}" alt="">
          </figure>
        </li>
      {% endfor %}
    </div>
  </article>

{% endcache %}
{% endblock %}
