{% extends "_layouts/_layout" %}

{% block content %}
{% cache globally using key craft.request.path %}

  {% for entry in craft.entries.section('pages').slug(craft.request.getSegment(1)) %}
  <article class="page-content standard-page">
    {% include 'partials/page_image' %}
    <div class="page-text">
      <h1>{{ entry.pageSubtitle }}</h1>
      <div class="page-text-container">
        {{ entry.pageBody }}

        <div class="errors">
          <ul>

          </ul>
        </div>

        <div class="success">
          <p><strong>{{ "Thanks" | translate }}</strong> </br> {{ "Thanks2" | translate }}</p>
        </div>

        <form method="post" action="" accept-charset="UTF-8">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="contactForm/sendMessage">
          <input type="hidden" name="redirect" value="contact/thanks">

          <div class="form_group">
            <h3><label for="fromName">{{ "Name" | translate }}</label></h3>
            <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">

            <h3><label for="fromEmail">{{ "Email" | translate }}<span class="required">*</span></label></h3>
            <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
          </div>

          <div class="message form_group">
            <h3><label for="message">{{ "Message" | translate }}<span class="required">*</span></label></h3>
            <textarea rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
          </div>

          <input type="submit" value="Send">

          <input id="location" name="location" type="text">

        </form>

        <p class="prefer_email">{{ "PreferEmail" | translate }} <a href="mailto:{{ contactinformation.primaryEmail }}">{{ contactinformation.primaryEmail }}</a></p>

      </div>
    </div>
  </article>
  {% endfor %}

{% endcache %}
{% endblock %}
