{% extends "_layouts/_layout" %}

{% block content %}
{% cache globally using key craft.request.path %}

{% if product is not defined %}
  {% redirect craft.commerce.products.type('wine').order('postDate asc').first().url %}
{% endif %}

  <article class="page-content product-page-content standard-page">

    <div class="page-image {{craft.request.getSegment(2)}}-page-image">
      <img src="{{ product.bottleImage.first().getUrl() }}" alt="">
    </div>

    <div class="page-text product-page-text">
      <h1>{{ product.title }}</h1>
      <div class="page-text-container">

        <h2>{{ "Description" | translate }}</h2>
        {{ product.wineDescription }}

        {% set wineSpecs = product.wineSpecifications %}
        {% if wineSpecs | length > 0 %}
          <h2>{{ "Specifications" | translate }}</h2>
          {% for specification in wineSpecs %}
            <ul class="wine-specifications">
              <li>
              <strong>{{ "WineType" | translate }}:</strong>
              {{ specification.wineType }}
              </li>
              <li>
                <strong>{{ "VineyardLocation" | translate }}:</strong>
                {{ specification.vineyardLocation }}
              </li>
              <li>
                <strong>{{ "Grapes" | translate }}:</strong>
                {{ specification.grapes }}
              </li>
              <li>
                <strong>{{ "Exposition" | translate }}:</strong>
                {{ specification.exposition }}
              </li>
              <li>
                <strong>{{ "Soil" | translate }}:</strong>
                {{ specification.soil }}
              </li>
              <li class="rich-text-specification">
                <strong>{{ "Vinification" | translate }}:</strong>
                {{ specification.vinificationAndMaturation }}
              </li>
            </ul>
          {% endfor %}
        {% endif %}

        {% if product.wineAdditionalDetails %}
        <h2>{{ "Additional" | translate }}</h2>
        {{ product.wineAdditionalDetails
          | replace('/<(.?)strong>/', '')
          | replace('/(?<=>)(.*?):/', "<strong>$1:</strong>")
          | raw }}
        {% endif %}

        <h2>{{ "Purchase" | t }}</h2>
        <div class="add-to-cart">
          {% include 'partials/add_product.html' %}
        </div>

      </div>
      <div class="product-navigation">
          {% set matched = false %}

          {#
          # Check for next product
          #}
          {% for item in craft.commerce.products.order('postDate asc') %}
            {% if item.slug == product.slug and item.next.title is defined %}
              {% set matched = true %}
              <span>{{ "Next" | t }}: <a href="{{item.next.url}}">{{item.next.title}}</a></span>
            {% endif %}
          {% endfor %}

          {#
          # Fallback at end of loop
          #}
          {% if not matched %}
            {% set link = craft.commerce.products.order('postDate asc').first() %}
            <span>{{ "Next" | t }}: <a href="{{link.url}}">{{link.title}}</a></span>
          {% endif %}

          <span><a href="{{ url('products') }}">{{ "All" | t }} {{ "Wines and Oils" | t }}</a></span>
      </div>
    </div>

  </article>

{% endcache %}
{% endblock %}
