{% extends "_layouts/_layout" %}

{% block content %}
{% cache globally using key craft.request.path %}

  {% for entry in craft.entries.section('pages').slug(craft.request.getSegment(1)) %}
  <article class="page-content">
    <div class="page-image">
      <img src="{{ entry.pageImage.first().getUrl() }}" alt="">
    </div>
    <div class="page-text">
      <h1>{{ entry.pageSubtitle }}</h1>
      <div class="page-text-container">
        {{ entry.pageBody }}
      </div>
      <div class="page-galleries">
        {% for gallery in entry.pageGallery %}
          <div data-gallery="#gallery-{{ loop.index }}">
            {% set asset = gallery.galleryImages.first() %}
            {% if asset %}
              <img class="slide " src="{{ asset.getUrl('galleryThumb') }}" alt="">
            {% endif %}
            <div class="gallery-description">
              <h4>View {{ gallery.galleryTitle }} Gallery</h4>
              {% if gallery.galleryDescription is defined %}
                <p>{{ gallery.galleryDescription }}</p>
              {% endif %}
            </div>
          </div>

          <div id="gallery-{{ loop.index }}" class="hidden-gallery">
            <div class="gallery">
              {% for image in gallery.galleryImages %}
                <img class="slide {% if loop.index == 1 %}active{% endif %}" src="{{image.url}}" alt="">
              {% endfor %}
            </div>
            <ul class="arrows">
              <li class="previous">Previous</li>
              <li class="next">Next</li>
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}

{% endcache %}
{% endblock %}
