@import "_mixins"
@import "_variables"
@import "_breakpoints"

.banners
  height: 100%
  position: relative
  z-index: 0
  #home &
    .banner .banner-cta
      bottom: 165px
  #commerce &
    display: none
  &.banner_slideshow
    .banner
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      opacity: 0
      &.active
        opacity: 1
        z-index: 5
        transition-property: opacity
        transition-duration: 1s
      &.previously_active
        opacity: 1
  .banner
    box-sizing: border-box
    display: block
    padding-top: 115px
    height: 100%
    background-size: cover
    background-position: center center
    text-align: center
    color: #fff
    .banner-headline-container
      max-width: 1000px
      margin: 0 auto
      position: relative
      display: table
      height: 93%
    .banner-headline
      font-family: $handwriting
      font-size: 30px
      line-height: 40px
      display: table-cell
      vertical-align: middle
      text-align: center
      padding: 0 20px
      @include breakpoint($tablet)
        padding: 0 100px
        font-size: 36px
        line-height: 58px
      @include breakpoint($desktop)
        font-size: 42px
        line-height: 58px
  #products-page-banner
    background-image: url('/images/banners/wine-banner.jpg')
    &.oils-banner
      background-image: url('/images/banners/olive-oil-banner.jpg')
    .banner-headline
      text-transform: capitalize
  #awards-page-banner
    background-image: url('/images/banners/news-banner.jpg')
  #news-page-banner
    background-image: url('/images/banners/news-banner-alt.jpg')
  #gallery-page-banner
    background-image: url('/images/banners/contact_banner_photo_blur.png')

  #products-page-banner, #awards-page-banner, #news-page-banner, #gallery-page-banner
    .banner-headline
      font-size: 48px
      @include breakpoint($tablet)
        font-size: 62px
      @include breakpoint($desktop)
        font-size: 72px

.page-galleries
  img + &
    padding-top: 25px
    border-top: 1px solid $copper
  [data-gallery]
    cursor: pointer
    .gallery-description
      display: inline-block
      vertical-align: middle
      width: 200px
      h4
        font-size: 24px
        font-family: $sans
      p
        font-size: 14px
        line-height: 20px
        margin-bottom: 0
    img
      display: inline-block
      vertical-align: middle
      vertical-align: middle
      display: inline-block
      width: 110px
      margin-right: 15px

#gallery
  h2
    text-align: center
    font-size: 48px
    margin-top: 20px
    margin-bottom: 10px
    padding-top: 40px
    border-top: 1px solid $copper
    font-family: $handwriting
    width: 100%
    @include breakpoint($tablet)
      font-size: 62px
      margin-top: 25px
      margin-bottom: 40px
    @include breakpoint($desktop)
      font-size: 72px
      padding-top: 50px

  .page-galleries
    display: flex
    flex-flow: row wrap
    width: calc(100% + 50px)
    margin-left: -25px
    justify-content: center
    overflow: hidden
    border-top: none
    margin-top: 25px
    padding-top: 0
    [data-gallery]
      width: 300px
      margin: 0 25px 40px 25px
    .gallery-description
      width: auto
    img
      width: 100%
      height: 300px
      display: block
      margin-right: 0
      margin-bottom: 15px
    h4
      margin-bottom: 5px
      font-size: 28px
    p
      line-height: 22px
    &.video-galleries
      img
        height: 169px

.gallery
  width: 100%
  img
    max-width: 100%
    display: none
    &.active
      display: block

.dots
  position: absolute
  z-index: 10
  top: 420px
  width: 100%
  display: flex
  justify-content: center
  @include breakpoint($tablet)
    top: 657px
  li
    display: block
    cursor: pointer
    background-color: #fff
    border-radius: 50%
    margin-right: 12px
    display: inline-block
    width: 11px
    height: 11px
    &:last-child
      margin-right: 0
    &.active
      border: 3px solid #fff
      background-color: transparent
      width: 5px
      height: 5px
    @include breakpoint($tablet)
      width: 22px
      height: 22px
      &.active
        width: 16px
        height: 16px

.arrows
  position: absolute
  z-index: 10
  top: 52%
  left: 0
  margin-top: -30px
  width: 100%
  li
    width: 16px
    height: 30px
    background-size: auto 30px
    display: block
    position: absolute
    @include hr-image('../images/site/arrows.png', '../images/site/arrows@2x.png')
    background-repeat: no-repeat
    text-indent: -10000px
    cursor: pointer
    transition-property: opacity
    transition-duration: 0.2s
    &:hover
      opacity: 0.6
    @include breakpoint($tablet)
      width: 32px
      height: 60px
      background-size: auto 60px
  li.previous
    background-position: top left
    left: 20px
  li.next
    background-position: top right
    right: 20px

.video-gallery
  .slide
    opacity: 0
    display: none
    margin-bottom: -3px
    &.active
      opacity: 1
      display: block

@include breakpoint($phone-only)
  #home
    .arrows
      top: 427px
      margin-top: -15px

// Hidden video inside banners

.hidden-video
  height: 450px
  overflow: hidden
  display: none

.hidden-gallery
  display: none
  .arrows
    top: 50%
    @include breakpoint($phone-only)
      margin-top: -15px
      li.previous
        left: 10%
      li.next
        right: 10%

.shipping-confirmation
  max-width: 768px
  max-height: 525px
  display: none
  padding: 35px
  position: relative
  .close
    width: 22px
    height: 22px
    cursor: pointer
    display: block
    position: absolute
    right: 35px
    top: 35px
    background: url('/images/site/close_black.svg') 0 0 no-repeat
  h2
    font-size: 36px
    margin-bottom: 22px
    font-family: $sans
  h3
    box-sizing: border-box
    font-family: $sans
    color: $copper
    text-transform: uppercase
    border-top: 1px solid $copper
    border-bottom: 1px solid $copper
    margin-bottom: -1px
    height: 40px
    position: relative
    font-family: $sans
    color: $copper
    text-transform: uppercase
    font-size: 22px
    line-height: 40px
    &:after
      content: ""
      width: 20px
      height: 20px
      position: absolute
      right: 10px
      top: 13px
      display: block
      @include hr-image('../images/site/accordion.png', '../images/site/accordion@2x.png')
      background-size: cover !important
      background-repeat: no-repeat
      background-position: 0 0
    &.active:after
      top: 10px
      background-position: 0 bottom
  p
    margin-bottom: 22px
    font-size: 18px
    line-height: 28px
  .agreement
    margin-bottom: 22px
    font-size: 18px
    li
      margin-bottom: 20px
      input, label
        vertical-align: middle
        display: inline-block
  .shipping-group
    margin-bottom: 22px
    .shipping-list
      display: none
      &.active
        display: block
    ul
      display: flex
      flex-flow: row wrap
      margin-top: 15px
      max-height: 95px
      overflow-y: auto
    li
      display: inline-block
      padding-bottom: 15px
      color: $copper
      font-size: 14px
      flex: 0 1 20%
  .shipping-confirmation-confirm
    @extend %button
    text-decoration: none
    display: inline-block
    letter-spacing: 0

// Content Work

#content
  position: relative
  @include breakpoint($desktop)
    overflow-x: hidden
  #products &
    overflow-x: visible

.container
  margin: 0 20px
  @include breakpoint($tablet)
    margin: 0 40px
  @include breakpoint($desktop)
    width: $medium-width
    margin: 0 auto
    position: relative
  #home main#content &
    margin-top: 0
    margin-bottom: 0
  main#content &
    margin-top: 40px
    margin-bottom: 40px
    @include breakpoint($desktop)
      margin-top: 80px
  h1
    font-family: $handwriting
    font-size: 52px
    @include breakpoint($tablet)
      font-size: 62px
    @include breakpoint($desktop)
      font-size: 72px
  #wine h1
    font-size: 94px
  p
    font-size: 18px
    line-height: 28px
    margin-bottom: 10px
  strong
    font-weight: bold
  em
    font-style: italic
  ul
    padding-left: 25px
    font-size: 18px
    line-height: 28px
    padding-right: 100px
    li
      list-style: disc
      margin-bottom: 10px

%wine-splat
  content: ""
  display: block
  background-image: url('/images/site/wine-splat.png')
  background-position: 0 0
  background-repeat: no-repeat
  position: absolute
  top: 110px
  z-index: 0

.page-content
  &.standard-page
    display: flex
    flex-flow: row wrap
  &:after
    content: ""
    clear: both
    width: 100%
    height: 1px
    display: block
  .page-image
    order: 2
    width: 100%
    text-align: center
    margin-top: 25px
    @include breakpoint($desktop)
      padding-left: 75px
      width: 334px
      margin-top: 0
    & > img
      width: 300px
      margin: 0 auto
      margin-bottom: 25px
      display: block
      @include breakpoint($desktop)
        width: 334px
  .page-text
    order: 1
    width: 100%
    @include breakpoint($desktop)
      width: 596px
    img
      max-width: 100%
    h1
      margin-bottom: 20px
      @include breakpoint($desktop)
        margin-bottom: 35px
    h2
      box-sizing: border-box
      border-top: 1px solid $copper
      border-bottom: 1px solid $copper
      margin-bottom: -1px
      height: 68px
      position: relative
      font-family: $sans
      color: $copper
      text-transform: uppercase
      font-size: 30px
      line-height: 68px
      &:after
        content: ""
        width: 25px
        height: 25px
        position: absolute
        right: 18px
        top: 25px
        display: block
        @include hr-image('../images/site/accordion.png', '../images/site/accordion@2x.png')
        background-size: 25px
        background-repeat: no-repeat
        background-position: 0 0
      &.active:after
        top: 20px
        background-position: 0 bottom
    .page-text-block
      display: none
      margin: 35px 0
      &.active
        display: block

  .add-to-cart
    position: relative
    font-family: $sans
    form
      display: flex
      justify-content: space-between
      .price
        font-size: 40px
        flex-grow: 1
        position: relative
        top: 2px
        @include breakpoint($tablet)
          font-size: 48px
          top: 0
      .input-group
        margin-right: 10px
        @include breakpoint($tablet)
          margin-right: 30px
        label
          display: block
          font-size: 12px
          font-family: $serif
          padding-bottom: 2px
          @include breakpoint($tablet)
            font-size: 14px
      input[type=number]
        font-size: 18px
        border: 1px solid rgba($text-black, 0.5)
        border-radius: 4px
        padding: 2px 4px
        width: 40px
        @include breakpoint($tablet)
          width: 60px
          font-size: 22px
      input[type=submit]
        @extend %button
        height: 42px
        line-height: 44px
        padding: 0 15px
        font-size: 22px
        @include breakpoint($tablet)
          height: 48px
          line-height: normal
          padding: 0 25px
          font-size: 28px

#products
  .product-overview
    margin-top: -140px
    @include breakpoint($desktop)
      margin-top: -170px
    ul
      display: flex
      flex-flow: row wrap
      justify-content: center
      padding: 0
      border-top: 1px solid $copper
      padding-top: 85px
      margin-top: 15px
      &:first-child
        padding-top: 0
        margin-top: 0
        border-top: none
      li
        box-sizing: border-box
        padding: 0 25px 50px 25px
        width: 100%
        text-align: center
        list-style: none
        max-width: 400px
        @include breakpoint($tablet)
          width: 50%
          max-width: inherit
        @include breakpoint($desktop)
          width: 33%
        img
          height: 400px
          @include breakpoint($desktop)
            height: 530px
        h3
          font-family: $handwriting
          font-size: 48px
          margin: 20px 0
        p
          font-size: 16px
          line-height: 24px
        a.learn-more, .faux-buy
          font-size: 16px
          color: $copper
          text-decoration: none
          &:after
            padding-left: 5px
            content: "»"
        .buy-reveal
          margin-top: 10px
          height: 40px
          position: relative
          &.active
            form
              opacity: 1
            .buy
              pointer-events: inherit
            .faux-buy
              opacity: 0
              pointer-events: none
          form, .buy
            transition: all 0.25s
            font-family: $sans
          .buy
            @extend %button
            display: inline-block
            vertical-align: middle
            height: 40px
            font-size: 22px
            line-height: 42px
            margin-left: 40px
            pointer-events: none
          .faux-buy
            transition: all 0.1s
            position: relative
            z-index: 1
            cursor: pointer
          form
            position: absolute
            z-index: 0
            text-align: center
            width: 100%
            top: 0
            opacity: 0
            .price
              display: inline-block
              vertical-align: middle
              font-size: 36px
              line-height: 40px
              position: relative
              top: 2px

.product-page-content
  margin-top: -140px
  @include breakpoint($tablet)
    margin-top: 0
    display: flex
    flex-flow: row
  .product-page-text
    h1
      text-align: center
      margin-top: 15px
      @include breakpoint($tablet)
        margin-top: 0
        text-align: left
    .wine-specifications
      padding: 0
      li
        list-style: none
  .wine-page-image
    position: relative
    order: 0
    &:before
      @extend %wine-splat
      width: 458px
      height: 454px
      background-size: 458px 454px
      right: -90px
      display: none
    @include breakpoint($tablet)
      order: 2
      flex-grow: 1
      width: 195px
    @include breakpoint($desktop)
      padding-left: 75px
      width: 334px
      &:before
        display: block
    img
      width: 100px
      position: relative
      margin-bottom: 0
      @include breakpoint($tablet)
        width: 195px
        position: relative
        float: right
      @include breakpoint($desktop)
        float: none
        margin: 0 auto
  .product-page-text
    width: 100%
    @include breakpoint($tablet)
      width: calc(100% - 240px)
    @include breakpoint($desktop)
      width: calc(100% - 410px)

  .product-navigation
    padding-top: 35px
    display: flex
    flex-flow: row
    justify-content: space-between
    a
      color: $copper
      text-decoration: none
    span:first-child
      a:after
        padding-left: 5px
        content: "»"

// Awards page

#awards
  .awards-list
    margin-top: -140px
    text-align: center
    @include breakpoint($tablet)
      margin-top: 0
      text-align: left
    .award-title
      font-size: 48px
      font-family: $handwriting
      margin-bottom: 20px
      @include breakpoint($tablet)
        font-size: 72px
        margin-bottom: 30px
    li
      margin-bottom: 70px
      list-style-type: none
      display: flex
      flex-flow: row wrap
      .right-image
        order: 1
        flex-grow: 1
        text-align: center
        margin-bottom: 20px
        position: relative
        @include breakpoint($tablet)
          text-align: right
          flex-grow: inherit
          order: 2
          width: 180px
          margin-bottom: 0
        @include breakpoint($desktop)
          margin-left: 75px
          width: 270px
          text-align: center
        img
          width: 100px
          margin: 0 auto
          position: relative
          z-index: 1
          @include breakpoint($tablet)
            width: 140px
            margin: 0
            float: right
          @include breakpoint($desktop)
            float: none
            margin: 0 auto
        &:before
          @extend %wine-splat
          left: -53px
          width: 345px
          height: 400px
          background-size: 348px auto
          right: -80px
          display: none
        @include breakpoint($desktop)
          &:before
            display: block

      .left-content
        order: 2
        @include breakpoint($tablet)
          order: 1
          width: calc(100% - 180px)
        @include breakpoint($desktop)
          width: 660px
        ul
          padding: 0
      .badges
        display: flex
        flex-flow: row wrap
        justify-content: center
        @include breakpoint($tablet)
          justify-content: flex-start
          margin-left: -15px
        @include breakpoint($desktop)
          margin-left: 0
        a
          text-decoration: none
          color: #fff
        li
          color: #fff
          text-align: center
          line-height: 105px
          font-size: 20px
          font-family: $sans
          vertical-align: middle
          position: relative
          margin: 0 15px 25px 15px
          display: inline-block
          @include breakpoint($desktop)
            font-size: 24px
            line-height: 160px
            margin: 0
            margin-right: 45px
            margin-bottom: 45px
          &:nth-child(3n)
            margin-right: 0
          .award-badge-body
            height: 100%
            display: block
            background: $orange
            width: 120px
            height: 120px
            margin: 0 auto
            position: relative
            border-radius: 50%
            @include breakpoint($desktop)
              width: 180px
              height: 180px
          img
            width: 100%
          h2
            font-size: 85px
            @include breakpoint($desktop)
              font-size: 124px
          h3
            box-sizing: border-box
            bottom: 36px
            position: relative
            padding: 0 7px
            height: 32px
            margin-bottom: -32px
            line-height: 26px
            background-color: #fff
            border-radius: 20px
            border: $orange 4px solid
            white-space: nowrap
            color: #000
            @include breakpoint($desktop)
              padding: 0 10px
              height: 40px
              bottom: 56px
              margin-bottom: -40px
              line-height: 34px

      .quotes
        li
          margin-bottom: 40px
          p
            font-size: 18px
            margin-bottom: 20px
          h3
            font-size: 28px
            font-family: $sans
            width: 100%

// News Page

#news
  .container
    h1
      font-size: 45px
    .page-detail
      .news-image
        float: right
        margin-left: 20px
      .news-content
        img
          float: right
          margin-left: 20px
          margin-bottom: 20px
    .page-content
      .news-image
        margin-bottom: 20px
      .page-text
        &:only-of-type, &:last-child
          border-bottom: none
        border-bottom: 1px solid $text-light-gray
        padding-bottom: 30px
        margin-bottom: 30px
    .pagination
      clear: left
      width: 596px
      a
        display: block
        padding: 6px 12px
        margin-bottom: 0
        text-align: center
        cursor: pointer
        background-image: none
        border: 1px solid transparent
        color: #fff
        background: $orange
        font-size: 16px
        line-height: 40px
        font-family: $serif
        margin-top: 10px
        width: 220px
        font-style: italic
        text-decoration: none
        &:first-child
          float: right
        &:last-child
          float: left
      &:after
        content: ""
        clear: both
        width: 100%
        height: 1px
        display: block
    .news-search-form
      form
        position: relative
        input[type=search]
          width: 100%
          border: none
          height: 48px
          line-height: 48px
          -webkit-appearance: none
          background-color: $text-light-gray
          font-family: $sans
          color: $text-gray
          font-size: 24px
          text-indent: 8px
        input[type=submit]
          position: absolute
          right: 0
          top: 0
          width: 48px
          height: 48px
          border: none
          background: #F48F1B url('/images/site/search.png') no-repeat center center
          text-indent: -10000px

    .news-search
      width: 596px
      min-height: 300px
      .result-listing
        margin: 0
        padding: 0
        li
          border-bottom: 1px solid $text-light-gray
          list-style: none
          padding: 14px 0
          margin: 0
          &:last-child
            border-bottom: none
          img
            float: left
            margin-right: 25px
        a
          color: $text-black
          text-decoration: none
          span
            color: $copper
            display: block
          span:last-child
            color: $text-black
      .no-results
        font-size: 18px
    #news-sidebar
      float: right
      padding-left: 75px
      width: 334px
      a
        color: $copper
      .news-sidebar-section
        margin-bottom: 40px
      h1
        font-family: $sans
        color: $text-gray
        text-transform: uppercase
        font-size: 32px
        line-height: 52px
        text-align: center
      ul
        padding: 0px
        h4
          font-size: 14px
          margin-bottom: 5px
          margin-top: -4px
        li
          border-bottom: 1px solid $text-light-gray
          list-style: none
          padding: 14px 0
          margin-bottom: 0
          float: left
          a
            font-family: $handwriting
            text-decoration: none
            color: $text-black
            float: left
            font-size: 20px
            &:hover
              color: $orange
          img
            float: left
            margin-right: 10px
      #mc_embed_signup
        padding: 25px 30px
        background-color: #F3F3F3
        h2
          text-align: center
          font-size: 20px
          margin: 0
          padding: 0
          margin-bottom: 25px
        .mc-field-group
          margin-bottom: 15px
          label
            display: block
            margin-bottom: 5px
          input
            width: 100%
            padding: 5px
            font-size: 14px
            box-sizing: border-box
          .mce_inline_error
            width: 100%
            box-sizing: border-box
        input[type="submit"]
          -webkit-appearance: button
          display: block
          padding: 6px 12px
          margin-bottom: 0
          text-align: center
          cursor: pointer
          background-image: none
          border: 1px solid transparent
          color: #fff
          background: $orange
          font-size: 16px
          line-height: 20px
          font-family: $serif
          width: 100%
          margin-top: 25px
          text-align: center

// Contact Page

#contact
  iframe
    max-width: 100%
    max-height: 300px
    @include breakpoint($tablet)
      max-height: inherit
  .prefer_email
    clear: both
    padding-top: 30px
    a
      color: $copper
      text-decoration: none
      &:hover
        text-decoration: underline
  .success
    display: none
    p
      margin-top: 20px
    strong
      font-weight: bold
  .errors
    display: none
    font-style: italic
    padding: 10px 0
    border-top: 1px solid $copper
    border-bottom: 1px solid $copper
    margin: 20px 0
    ul li
      font-size: 14px
      margin-bottom: 5px
      &:last-child
        margin-bottom: 0
  form
    margin-top: 20px
    position: relative
    .message
      @include breakpoint($tablet)
        position: absolute
        left: 240px
        top: 0
    #location
      display: none
  label, input, button, select, textarea
    font-size: 14px
    font-weight: normal
    line-height: 20px
  .required
    color: red
    padding-left: 5px
  input[type="submit"]
    -webkit-appearance: button
    display: block
    padding: 6px 12px
    margin-bottom: 0
    text-align: center
    cursor: pointer
    background-image: none
    border: 1px solid transparent
    color: #fff
    background: $orange
    font-size: 16px
    line-height: 20px
    font-family: $serif
    margin-top: 10px
    width: 220px
  label
    display: block
    margin-bottom: 5px
  select, textarea
    display: inline-block
    height: 20px
    padding: 4px 6px
    margin-bottom: 10px
    font-size: 14px
    line-height: 20px
    color: #555555
    vertical-align: middle

  input
    &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"]
      display: inline-block
      height: 28px
      padding: 4px 6px
      margin-bottom: 10px
      font-size: 14px
      line-height: 20px
      color: #555555
      vertical-align: middle
      box-sizing: border-box
      width: 100%
      max-width: 354px
      @include breakpoint($tablet)
        width: 218px

  input
    width: 206px

  textarea
    width: 340px
    height: 140px
    background-color: #ffffff
    border: 1px solid #cccccc
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    transition: border linear 0.2s, box-shadow linear 0.2s

  input
    &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"]
      background-color: #ffffff
      border: 1px solid #cccccc
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      transition: border linear 0.2s, box-shadow linear 0.2s

  textarea:focus
    border-color: rgba(82, 168, 236, 0.8)
    outline: 0
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)

  input
    &[type="text"]:focus, &[type="password"]:focus, &[type="datetime"]:focus, &[type="datetime-local"]:focus, &[type="date"]:focus, &[type="month"]:focus, &[type="time"]:focus, &[type="week"]:focus, &[type="number"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="search"]:focus, &[type="tel"]:focus, &[type="color"]:focus
      border-color: rgba(82, 168, 236, 0.8)
      outline: 0
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)

  .uneditable-input:focus
    border-color: rgba(82, 168, 236, 0.8)
    outline: 0
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)

  input
    &[type="radio"], &[type="checkbox"]
      margin: 4px 0 0
      margin-top: 1px \9
      *margin-top: 0
      line-height: normal
