@mixin hr-image($lr-image, $hr-image) {
  background-image: url($lr-image);
  @media print,
         (-webkit-min-device-pixel-ratio: 1.25),
         (-o-min-device-pixel-ratio: 5/4),
         (min-resolution: 120dpi) { 
    background-image: url($hr-image);
    background-size: image-width($lr-image) image-height($lr-image);
  }
}

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

@mixin triangle($direction, $color, $size) {
 
  @if $direction == "left" {
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "right" {
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-top: $size solid transparent;
  }
  @else if $direction == "up" {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
  }
  @else if $direction == "down" {
    border-right: $size solid transparent;
    border-left: $size solid transparent;
    border-top: $size solid $color;
  }
 
  height: 0;
  width: 0;
}