@import "fonts"

@import "_reset"
@import "_mixins"
@import "_variables"
@import "_breakpoints"

body
  background-color: #fff
  color: $text-black
  font-family: $serif

// Header and Footer Work

header
  border-bottom: $header-border solid $copper
  display: block
  #home & .header-body
    height: $header-tall
    @include breakpoint($phone-only)
      height: $header-tall-mobile
  #commerce & .header-body
    height: 120px
  .header-container
    width: 100%
    @include breakpoint($desktop)
      width: $medium-width
      margin: 0 auto
      position: relative
  .header-body
    height: $header-short

.mobile-controls
  position: absolute
  left: 12px
  top: 12px
  font-size: 24px
  color: #fff
  @include breakpoint($tablet)
    display: none
  & > i
    cursor: pointer
    position: absolute
    left: 0
    top: 0
  .mobile-close
    z-index: 2
    font-size: 28px
    display: none
    .open &
      display: block
  .mobile-menu
    z-index: 0
    .open &
      display: none

nav
  background-color: rgba(0,0,0,0.35)
  height: 120px
  margin-bottom: -120px
  z-index: 1
  position: relative

.logo
  width: 225px
  height: 67px
  background: url('/images/site/logo.png') no-repeat 0 0
  background-size: 100%
  position: absolute
  left: 50%
  margin-left: -112px
  top: 24px
  @include breakpoint($tablet)
    top: 8px
  h1, h3
    text-indent: -10000px
  a
    width: 225px
    height: 67px
    display: block

.navigation
  display: none
  width: 100%
  height: 100%
  padding-top: 60px
  background: rgba(black, 0.75)
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  text-align: center
  z-index: 1
  .open &
    display: block
  @include breakpoint($tablet)
    padding-top: 93px
    display: block
    width: auto
    height: auto
    background: none
    position: relative
    top: inherit
    bottom: inherit
    left: inherit
    right: inherit
    text-align: inherit
    text-align: justify
    width: 95%
    margin: 0 auto
  @include breakpoint($desktop)
    width: 850px
  &:after
    width: 100%
    display: inline-block
    content: "."
    visibility: hidden
  .localization-tab
    li
      padding: 0 20px
      height: 34px
      line-height: 37px
      font-size: 22px
    @include breakpoint($tablet)
      display: none
  & > li
    margin-bottom: 30px
    text-transform: uppercase
    @include breakpoint($tablet)
      margin-top: 0
      display: inline-block
    & > a
      font-size: 24px
      color: #fff
      text-decoration: none
      padding-bottom: 11px
      &.active
        border-bottom: 5px solid #fff
      @include breakpoint($tablet)
        font-size: 14px
      @include breakpoint($desktop)
        font-size: 17px
        padding-bottom: 10px


.user-menu
  color: white
  font-family: $sans
  p
    text-transform: capitalize
    font-weight: 200
    margin-bottom: 0
    font-size: 20px
    margin-right: 20px
    position: relative
    top: 1px
    display: inline-block
  a
    text-transform: uppercase
    color: white
    text-decoration: none
    span
      margin-right: 5px

.order-menu
  a
    color: white
    margin-left: 5px

.top-menu
  box-sizing: border-box
  background: #000
  height: 42px
  line-height: 42px
  padding: 0 15px
  display: flex
  flex-flow: row wrap
  justify-content: space-between

.options-menu
  text-transform: uppercase
  font-family: $sans
  height: 24px
  line-height: 26px
  margin-top: 9px
  .localization
    display: none
    @include breakpoint($tablet)
      display: inline-block
  .cart
    display: inline-block
    vertical-align: top
    margin-left: 15px
    font-size: 16px
    height: 100%
    color: white
    font-family: $sans
    text-transform: uppercase
    .fa
      padding-right: 4px
    a
      color: white
      text-decoration: none
      display: block
      height: 100%
      span
        box-sizing: border-box
        margin-left: 4px
        margin-top: 3px
        border-radius: 9px
        background: $orange
        display: inline-block
        vertical-align: top
        color: #fff
        min-width: 19px
        padding: 0 6px
        height: 19px
        line-height: 20px
        font-size: 14px
        text-align: center

.localization
  display: inline-block
  vertical-align: top
  font-family: $sans
  li
    padding: 0 9px
    height: 25px
    background: #fff
    color: $text-gray
    float: left
    display: block
    line-height: 26px
    &.active
      background: $copper
      a
        color: #fff
    a
      text-decoration: none
      color: $text-gray

footer
  #home &
    padding-top: 15px
  text-align: center
  text-transform: uppercase
  font-size: 13px
  @include breakpoint($desktop)
    font-size: 14px
    line-height: 14px
    padding-top: 40px
    margin-bottom: 50px
  p
    margin-bottom: 10px
  a
    color: $black
    text-decoration: none
    &:hover
      text-decoration: underline
  ul
    margin-bottom: 40px
    @include breakpoint($tablet)
      font-size: 15px
      width: 570px
      margin: 0 auto
      position: relative
      margin-bottom: 70px
    @include breakpoint("only screen and (min-width: 1140px)")
      margin: 0
      width: inherit
    li
      margin-bottom: 15px
      vertical-align: middle
      &.contact-phone, &.contact-email
        display: inline-block
      &.contact-phone
        $padding: 7px
        border-right: 1px solid $text-black
        padding-right: $padding
        margin-right: $padding
      @include breakpoint($tablet)
        margin-bottom: 12px
        $padding: 20px
        &.contact-phone
          padding-right: $padding
          margin-right: $padding
        &.contact-email
          border-right: 1px solid $text-black
          padding-right: $padding
          margin-right: $padding
        &.contact-site, &.contact-address
          display: inline-block
        &.contact-site
          border-right: 1px solid $text-black
          padding-right: $padding
          margin-right: $padding
      &.facebook
        @include breakpoint($tablet)
          display: inline-block
        a
          width: 24px
          height: 24px
          text-indent: -10000px
          background-image: url('/images/site/facebook.png')
          position: relative
          top: -2px
          display: inline-block
          background-size: 100%
